* {

    box-sizing: border-box;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;


}


@font-face {
    font-family: Nax;
    src: url("/fonts/SpaceGrotesk-VariableFont_wght.ttf") format('truetype');
}

h1,
h2,
a,
span,
label,
button {

    font-family: "Nax";
    font-weight: 350;
    font-style: normal;

}



:root {


    /* --color-background: #1E1E1E; */
    --color-background: #292929;
    /* --color-background: #585858; */
    --color-text: #FAF8F5;
    --color-border: #FFC300;
    --color-accent: #FFC300;
    --color-accent-gradient: #D9A700;
    --color-highlight-area: rgb(10, 10, 10);

    --svg-filter: invert(1);
    --outer-border-size: 0rem;




}




:root.light {
    /*  --color-background: #E6E6FA; */
    --color-background: #E6E6FA;
    --color-text: #1a1a1a;
    --color-border: #db0a5b;
    --color-accent: #AF0848;
    --color-accent-gradient: #C01074;
    /*     --color-highlight-area: #D8bfD8;
 */
    --color-highlight-area: #fefefe;
    --color-highlight-text: #808080;
    --svg-filter: invert(0);
    --outer-border-size: 0rem;

}



.page-margins {
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.link {

    color: var(--color-accent);
    font-size: 1.75rem;
    text-align: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    /*  background-color: var(--color-background); */
    /*    border: solid var(--outer-border-size) var(--color-accent); */
    background-color: transparent;
    /*  transition: color 0.4s background-color 0.4s border-color 0.1; */
}

.link:hover,
.link-active {
    /*   border-color: transparent; */
    color: var(--color-highlight-area);
    background-color: var(--color-accent);
    transition: 0.3s;
}





@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#theme-icon img.spin {
    animation: spin 0.5s ease-in-out;
}



#theme-icon {


    padding-inline: 2rem;
    cursor: pointer;
}



#theme-icon img {

    width: 3rem;


    filter: var(--svg-filter);

}


/* .table-of-contents-grid:hover {
    border-color: transparent;
    background-color: var(--color-accent);
  
} */




html {
    background-color: var(--color-background);




}

h1,
h2,
p {

    margin: 0;
}

/* @font-face {
    font-family: regular;
    src: url('src/assets/fonts/SpaceGrotesk-VariableFont_wght.ttf');
}
 */

p {
    font-size: 1.75rem;
    line-height: 3rem;
    font-family: "Nax";
    font-weight: 350;
    font-optical-sizing: auto;

    color: var(--color-text);
}

textarea {
    font-family: "Nax";
    font-optical-sizing: auto;


}

textarea:focus {
    outline: none;
}

a:hover {
    cursor: pointer;
}






.rotate-icon {
    transition: 0.3s ease-in-out;
    transform: rotate(360deg);
}








.centered-page {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;


    min-height: 100vh;
    width: 100%;


}


#aboutme-page {

    position: relative;
    display: grid;


    width: 90%;
    gap: 2rem;
    grid-template-columns: 0.5fr 2fr 1.5fr;
    grid-template-rows: 3fr 1fr 1fr 1fr;
    grid-template-areas:
        /*  'navigation navigation navigation' */
        'name main-content main-content'
        'name skills favourites-1'
        'name skills favourites-2'
        'name skills favourites-3'

    ;


    height: fit-content;



}

.text-highlight {
    color: var(--color-accent);
    font-size: 3rem;
}

#favourites-1,
#favourites-2,
#favourites-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}



#favourites-1 {

    background-color: var(--color-highlight-area);
    grid-area: favourites-1;

}

#favourites-2 {
    background-color: var(--color-highlight-area);
    grid-area: favourites-2;


}

#favourites-3 {
    background-color: var(--color-highlight-area);
    grid-area: favourites-3;
}

#favourites-1 span:nth-child(1),
#favourites-2 span:nth-child(1),
#favourites-3 span:nth-child(1) {
    font-size: 2rem;
    align-self: flex-start;
    white-space: nowrap;
}

#favourites-1 span:nth-child(2),
#favourites-2 span:nth-child(2),
#favourites-3 span:nth-child(2) {
    align-self: flex-end;
    color: var(--color-accent);
    font-size: 3rem;
    white-space: nowrap;
}







#my-name {

    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 6rem;
    align-items: center;
    grid-area: name;
    height: auto;
    width: 100%;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    color: var(--color-highlight-area);
    background-color: var(--color-accent);
    border: solid var(--outer-border-size) var(--color-border);
    box-shadow: -0.0625rem 0.0625rem 0 0 var(--color-highlight-area),
        -0.075rem 0.075rem 0 0 var(--color-highlight-area),
        -0.0875rem 0.0875rem 0 0 var(--color-highlight-area),
        -0.1rem 0.1rem 0 0 var(--color-highlight-area),
        -0.1125rem 0.1125rem 0 0 var(--color-highlight-area),
        -0.125rem 0.125rem 0 0 var(--color-highlight-area),
        -0.1375rem 0.1375rem 0 0 var(--color-highlight-area),
        -0.15rem 0.15rem 0 0 var(--color-highlight-area),
        -0.1625rem 0.1625rem 0 0 var(--color-highlight-area),
        -0.175rem 0.175rem 0 0 var(--color-highlight-area),
        -0.1875rem 0.1875rem 0 0 var(--color-highlight-area),
        -0.2rem 0.2rem 0 0 var(--color-highlight-area),
        -0.2125rem 0.2125rem 0 0 var(--color-highlight-area),
        -0.225rem 0.225rem 0 0 var(--color-highlight-area),
        -0.2375rem 0.2375rem 0 0 var(--color-highlight-area),
        -0.25rem 0.25rem 0 0 var(--color-highlight-area),
        -0.2625rem 0.2625rem 0 0 var(--color-highlight-area),
        -0.275rem 0.275rem 0 0 var(--color-highlight-area),
        -0.2875rem 0.2875rem 0 0 var(--color-highlight-area),
        -0.3rem 0.3rem 0 0 var(--color-highlight-area),
        -0.3125rem 0.3125rem 0 0 var(--color-highlight-area),
        -0.325rem 0.325rem 0 0 var(--color-highlight-area),
        -0.3375rem 0.3375rem 0 0 var(--color-highlight-area),
        -0.35rem 0.35rem 0 0 var(--color-highlight-area),
        -0.3625rem 0.3625rem 0 0 var(--color-highlight-area),
        -0.375rem 0.375rem 0 0 var(--color-highlight-area),
        -0.3875rem 0.3875rem 0 0 var(--color-highlight-area),
        -0.4rem 0.4rem 0 0 var(--color-highlight-area),
        -0.4125rem 0.4125rem 0 0 var(--color-highlight-area),
        -0.425rem 0.425rem 0 0 var(--color-highlight-area),
        -0.4375rem 0.4375rem 0 0 var(--color-highlight-area),
        -0.45rem 0.45rem 0 0 var(--color-highlight-area),
        -0.4625rem 0.4625rem 0 0 var(--color-highlight-area),
        -0.475rem 0.475rem 0 0 var(--color-highlight-area),
        -0.4875rem 0.4875rem 0 0 var(--color-highlight-area),
        -0.5rem 0.5rem 0 0 var(--color-highlight-area),
        -0.5125rem 0.5125rem 0 0 var(--color-highlight-area),
        -0.525rem 0.525rem 0 0 var(--color-highlight-area),
        -0.5375rem 0.5375rem 0 0 var(--color-highlight-area),
        -0.55rem 0.55rem 0 0 var(--color-highlight-area),
        -0.5625rem 0.5625rem 0 0 var(--color-highlight-area),
        -0.575rem 0.575rem 0 0 var(--color-highlight-area),
        -0.5875rem 0.5875rem 0 0 var(--color-highlight-area),
        -0.6rem 0.6rem 0 0 var(--color-highlight-area),
        -0.6125rem 0.6125rem 0 0 var(--color-highlight-area),
        -0.625rem 0.625rem 0 0 var(--color-highlight-area),
        -0.6375rem 0.6375rem 0 0 var(--color-highlight-area),
        -0.65rem 0.65rem 0 0 var(--color-highlight-area),
        -0.6625rem 0.6625rem 0 0 var(--color-highlight-area),
        -0.675rem 0.675rem 0 0 var(--color-highlight-area),
        -0.6875rem 0.6875rem 0 0 var(--color-highlight-area),
        -0.7rem 0.7rem 0 0 var(--color-highlight-area),
        -0.7125rem 0.7125rem 0 0 var(--color-highlight-area),
        -0.725rem 0.725rem 0 0 var(--color-highlight-area),
        -0.7375rem 0.7375rem 0 0 var(--color-highlight-area),
        -0.75rem 0.75rem 0 0 var(--color-highlight-area);

}



.nav-bar {
    position: fixed;
    top: 2rem;
    right: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0rem;
    height: auto;
    z-index: 200;


}












.header-shadow-left {
    box-shadow: -0.0625rem -0.0625rem 0 0 var(--color-highlight-area),
        -0.075rem -0.075rem 0 0 var(--color-highlight-area),
        -0.0875rem -0.0875rem 0 0 var(--color-highlight-area),
        -0.1rem -0.1rem 0 0 var(--color-highlight-area),
        -0.1125rem -0.1125rem 0 0 var(--color-highlight-area),
        -0.125rem -0.125rem 0 0 var(--color-highlight-area),
        -0.1375rem -0.1375rem 0 0 var(--color-highlight-area),
        -0.15rem -0.15rem 0 0 var(--color-highlight-area),
        -0.1625rem -0.1625rem 0 0 var(--color-highlight-area),
        -0.175rem -0.175rem 0 0 var(--color-highlight-area),
        -0.1875rem -0.1875rem 0 0 var(--color-highlight-area),
        -0.2rem -0.2rem 0 0 var(--color-highlight-area),
        -0.2125rem -0.2125rem 0 0 var(--color-highlight-area),
        -0.225rem -0.225rem 0 0 var(--color-highlight-area),
        -0.2375rem -0.2375rem 0 0 var(--color-highlight-area),
        -0.25rem -0.25rem 0 0 var(--color-highlight-area),
        -0.2625rem -0.2625rem 0 0 var(--color-highlight-area),
        -0.275rem -0.275rem 0 0 var(--color-highlight-area),
        -0.2875rem -0.2875rem 0 0 var(--color-highlight-area),
        -0.3rem -0.3rem 0 0 var(--color-highlight-area),
        -0.3125rem -0.3125rem 0 0 var(--color-highlight-area),
        -0.325rem -0.325rem 0 0 var(--color-highlight-area),
        -0.3375rem -0.3375rem 0 0 var(--color-highlight-area),
        -0.35rem -0.35rem 0 0 var(--color-highlight-area),
        -0.3625rem -0.3625rem 0 0 var(--color-highlight-area),
        -0.375rem -0.375rem 0 0 var(--color-highlight-area),
        -0.3875rem -0.3875rem 0 0 var(--color-highlight-area),
        -0.4rem -0.4rem 0 0 var(--color-highlight-area),
        -0.4125rem -0.4125rem 0 0 var(--color-highlight-area),
        -0.425rem -0.425rem 0 0 var(--color-highlight-area),
        -0.4375rem -0.4375rem 0 0 var(--color-highlight-area),
        -0.45rem -0.45rem 0 0 var(--color-highlight-area),
        -0.4625rem -0.4625rem 0 0 var(--color-highlight-area),
        -0.475rem -0.475rem 0 0 var(--color-highlight-area),
        -0.4875rem -0.4875rem 0 0 var(--color-highlight-area),
        -0.5rem -0.5rem 0 0 var(--color-highlight-area),
        -0.5125rem -0.5125rem 0 0 var(--color-highlight-area),
        -0.525rem -0.525rem 0 0 var(--color-highlight-area),
        -0.5375rem -0.5375rem 0 0 var(--color-highlight-area),
        -0.55rem -0.55rem 0 0 var(--color-highlight-area),
        -0.5625rem -0.5625rem 0 0 var(--color-highlight-area),
        -0.575rem -0.575rem 0 0 var(--color-highlight-area),
        -0.5875rem -0.5875rem 0 0 var(--color-highlight-area),
        -0.6rem -0.6rem 0 0 var(--color-highlight-area),
        -0.6125rem -0.6125rem 0 0 var(--color-highlight-area),
        -0.625rem -0.625rem 0 0 var(--color-highlight-area),
        -0.6375rem -0.6375rem 0 0 var(--color-highlight-area),
        -0.65rem -0.65rem 0 0 var(--color-highlight-area),
        -0.6625rem -0.6625rem 0 0 var(--color-highlight-area),
        -0.675rem -0.675rem 0 0 var(--color-highlight-area),
        -0.6875rem -0.6875rem 0 0 var(--color-highlight-area),
        -0.7rem -0.7rem 0 0 var(--color-highlight-area),
        -0.7125rem -0.7125rem 0 0 var(--color-highlight-area),
        -0.725rem -0.725rem 0 0 var(--color-highlight-area),
        -0.7375rem -0.7375rem 0 0 var(--color-highlight-area),
        -0.75rem -0.75rem 0 0 var(--color-highlight-area);
}




.header-shadow-right {
    box-shadow: 0.0625rem -0.0625rem 0 0 var(--color-highlight-area),
        0.075rem -0.075rem 0 0 var(--color-highlight-area),
        0.0875rem -0.0875rem 0 0 var(--color-highlight-area),
        0.1rem -0.1rem 0 0 var(--color-highlight-area),
        0.1125rem -0.1125rem 0 0 var(--color-highlight-area),
        0.125rem -0.125rem 0 0 var(--color-highlight-area),
        0.1375rem -0.1375rem 0 0 var(--color-highlight-area),
        0.15rem -0.15rem 0 0 var(--color-highlight-area),
        0.1625rem -0.1625rem 0 0 var(--color-highlight-area),
        0.175rem -0.175rem 0 0 var(--color-highlight-area),
        0.1875rem -0.1875rem 0 0 var(--color-highlight-area),
        0.2rem -0.2rem 0 0 var(--color-highlight-area),
        0.2125rem -0.2125rem 0 0 var(--color-highlight-area),
        0.225rem -0.225rem 0 0 var(--color-highlight-area),
        0.2375rem -0.2375rem 0 0 var(--color-highlight-area),
        0.25rem -0.25rem 0 0 var(--color-highlight-area),
        0.2625rem -0.2625rem 0 0 var(--color-highlight-area),
        0.275rem -0.275rem 0 0 var(--color-highlight-area),
        0.2875rem -0.2875rem 0 0 var(--color-highlight-area),
        0.3rem -0.3rem 0 0 var(--color-highlight-area),
        0.3125rem -0.3125rem 0 0 var(--color-highlight-area),
        0.325rem -0.325rem 0 0 var(--color-highlight-area),
        0.3375rem -0.3375rem 0 0 var(--color-highlight-area),
        0.35rem -0.35rem 0 0 var(--color-highlight-area),
        0.3625rem -0.3625rem 0 0 var(--color-highlight-area),
        0.375rem -0.375rem 0 0 var(--color-highlight-area),
        0.3875rem -0.3875rem 0 0 var(--color-highlight-area),
        0.4rem -0.4rem 0 0 var(--color-highlight-area),
        0.4125rem -0.4125rem 0 0 var(--color-highlight-area),
        0.425rem -0.425rem 0 0 var(--color-highlight-area),
        0.4375rem -0.4375rem 0 0 var(--color-highlight-area),
        0.45rem -0.45rem 0 0 var(--color-highlight-area),
        0.4625rem -0.4625rem 0 0 var(--color-highlight-area),
        0.475rem -0.475rem 0 0 var(--color-highlight-area),
        0.4875rem -0.4875rem 0 0 var(--color-highlight-area),
        0.5rem -0.5rem 0 0 var(--color-highlight-area),
        0.5125rem -0.5125rem 0 0 var(--color-highlight-area),
        0.525rem -0.525rem 0 0 var(--color-highlight-area),
        0.5375rem -0.5375rem 0 0 var(--color-highlight-area),
        0.55rem -0.55rem 0 0 var(--color-highlight-area),
        0.5625rem -0.5625rem 0 0 var(--color-highlight-area),
        0.575rem -0.575rem 0 0 var(--color-highlight-area),
        0.5875rem -0.5875rem 0 0 var(--color-highlight-area),
        0.6rem -0.6rem 0 0 var(--color-highlight-area),
        0.6125rem -0.6125rem 0 0 var(--color-highlight-area),
        0.625rem -0.625rem 0 0 var(--color-highlight-area),
        0.6375rem -0.6375rem 0 0 var(--color-highlight-area),
        0.65rem -0.65rem 0 0 var(--color-highlight-area),
        0.6625rem -0.6625rem 0 0 var(--color-highlight-area),
        0.675rem -0.675rem 0 0 var(--color-highlight-area),
        0.6875rem -0.6875rem 0 0 var(--color-highlight-area),
        0.7rem -0.7rem 0 0 var(--color-highlight-area),
        0.7125rem -0.7125rem 0 0 var(--color-highlight-area),
        0.725rem -0.725rem 0 0 var(--color-highlight-area),
        0.7375rem -0.7375rem 0 0 var(--color-highlight-area),
        0.75rem -0.75rem 0 0 var(--color-highlight-area);
}


.container-shadow-left {
    box-shadow: -0.0625rem -0.0625rem 0 0 var(--color-accent),
        -0.075rem -0.075rem 0 0 var(--color-accent),
        -0.0875rem -0.0875rem 0 0 var(--color-accent),
        -0.1rem -0.1rem 0 0 var(--color-accent),
        -0.1125rem -0.1125rem 0 0 var(--color-accent),
        -0.125rem -0.125rem 0 0 var(--color-accent),
        -0.1375rem -0.1375rem 0 0 var(--color-accent),
        -0.15rem -0.15rem 0 0 var(--color-accent),
        -0.1625rem -0.1625rem 0 0 var(--color-accent),
        -0.175rem -0.175rem 0 0 var(--color-accent),
        -0.1875rem -0.1875rem 0 0 var(--color-accent),
        -0.2rem -0.2rem 0 0 var(--color-accent),
        -0.2125rem -0.2125rem 0 0 var(--color-accent),
        -0.225rem -0.225rem 0 0 var(--color-accent),
        -0.2375rem -0.2375rem 0 0 var(--color-accent),
        -0.25rem -0.25rem 0 0 var(--color-accent),
        -0.2625rem -0.2625rem 0 0 var(--color-accent),
        -0.275rem -0.275rem 0 0 var(--color-accent),
        -0.2875rem -0.2875rem 0 0 var(--color-accent),
        -0.3rem -0.3rem 0 0 var(--color-accent),
        -0.3125rem -0.3125rem 0 0 var(--color-accent),
        -0.325rem -0.325rem 0 0 var(--color-accent),
        -0.3375rem -0.3375rem 0 0 var(--color-accent),
        -0.35rem -0.35rem 0 0 var(--color-accent),
        -0.3625rem -0.3625rem 0 0 var(--color-accent),
        -0.375rem -0.375rem 0 0 var(--color-accent),
        -0.3875rem -0.3875rem 0 0 var(--color-accent),
        -0.4rem -0.4rem 0 0 var(--color-accent),
        -0.4125rem -0.4125rem 0 0 var(--color-accent),
        -0.425rem -0.425rem 0 0 var(--color-accent),
        -0.4375rem -0.4375rem 0 0 var(--color-accent),
        -0.45rem -0.45rem 0 0 var(--color-accent),
        -0.4625rem -0.4625rem 0 0 var(--color-accent),
        -0.475rem -0.475rem 0 0 var(--color-accent),
        -0.4875rem -0.4875rem 0 0 var(--color-accent),
        -0.5rem -0.5rem 0 0 var(--color-accent),
        -0.5125rem -0.5125rem 0 0 var(--color-accent),
        -0.525rem -0.525rem 0 0 var(--color-accent),
        -0.5375rem -0.5375rem 0 0 var(--color-accent),
        -0.55rem -0.55rem 0 0 var(--color-accent),
        -0.5625rem -0.5625rem 0 0 var(--color-accent),
        -0.575rem -0.575rem 0 0 var(--color-accent),
        -0.5875rem -0.5875rem 0 0 var(--color-accent),
        -0.6rem -0.6rem 0 0 var(--color-accent),
        -0.6125rem -0.6125rem 0 0 var(--color-accent),
        -0.625rem -0.625rem 0 0 var(--color-accent),
        -0.6375rem -0.6375rem 0 0 var(--color-accent),
        -0.65rem -0.65rem 0 0 var(--color-accent),
        -0.6625rem -0.6625rem 0 0 var(--color-accent),
        -0.675rem -0.675rem 0 0 var(--color-accent),
        -0.6875rem -0.6875rem 0 0 var(--color-accent),
        -0.7rem -0.7rem 0 0 var(--color-accent),
        -0.7125rem -0.7125rem 0 0 var(--color-accent),
        -0.725rem -0.725rem 0 0 var(--color-accent),
        -0.7375rem -0.7375rem 0 0 var(--color-accent),
        -0.75rem -0.75rem 0 0 var(--color-accent);
}


.container-shadow-right {
    transition: box-shadow 0.3s;
    box-shadow:
        0.0625rem -0.0625rem 0 0 var(--color-accent),
        0.075rem -0.075rem 0 0 var(--color-accent),
        0.0875rem -0.0875rem 0 0 var(--color-accent),
        0.1rem -0.1rem 0 0 var(--color-accent),
        0.1125rem -0.1125rem 0 0 var(--color-accent),
        0.125rem -0.125rem 0 0 var(--color-accent),
        0.1375rem -0.1375rem 0 0 var(--color-accent),
        0.15rem -0.15rem 0 0 var(--color-accent),
        0.1625rem -0.1625rem 0 0 var(--color-accent),
        0.175rem -0.175rem 0 0 var(--color-accent),
        0.1875rem -0.1875rem 0 0 var(--color-accent),
        0.2rem -0.2rem 0 0 var(--color-accent),
        0.2125rem -0.2125rem 0 0 var(--color-accent),
        0.225rem -0.225rem 0 0 var(--color-accent),
        0.2375rem -0.2375rem 0 0 var(--color-accent),
        0.25rem -0.25rem 0 0 var(--color-accent),
        0.2625rem -0.2625rem 0 0 var(--color-accent),
        0.275rem -0.275rem 0 0 var(--color-accent),
        0.2875rem -0.2875rem 0 0 var(--color-accent),
        0.3rem -0.3rem 0 0 var(--color-accent),
        0.3125rem -0.3125rem 0 0 var(--color-accent),
        0.325rem -0.325rem 0 0 var(--color-accent),
        0.3375rem -0.3375rem 0 0 var(--color-accent),
        0.35rem -0.35rem 0 0 var(--color-accent),
        0.3625rem -0.3625rem 0 0 var(--color-accent),
        0.375rem -0.375rem 0 0 var(--color-accent),
        0.3875rem -0.3875rem 0 0 var(--color-accent),
        0.4rem -0.4rem 0 0 var(--color-accent),
        0.4125rem -0.4125rem 0 0 var(--color-accent),
        0.425rem -0.425rem 0 0 var(--color-accent),
        0.4375rem -0.4375rem 0 0 var(--color-accent),
        0.45rem -0.45rem 0 0 var(--color-accent),
        0.4625rem -0.4625rem 0 0 var(--color-accent),
        0.475rem -0.475rem 0 0 var(--color-accent),
        0.4875rem -0.4875rem 0 0 var(--color-accent),
        0.5rem -0.5rem 0 0 var(--color-accent),
        0.5125rem -0.5125rem 0 0 var(--color-accent),
        0.525rem -0.525rem 0 0 var(--color-accent),
        0.5375rem -0.5375rem 0 0 var(--color-accent),
        0.55rem -0.55rem 0 0 var(--color-accent),
        0.5625rem -0.5625rem 0 0 var(--color-accent),
        0.575rem -0.575rem 0 0 var(--color-accent),
        0.5875rem -0.5875rem 0 0 var(--color-accent),
        0.6rem -0.6rem 0 0 var(--color-accent),
        0.6125rem -0.6125rem 0 0 var(--color-accent),
        0.625rem -0.625rem 0 0 var(--color-accent),
        0.6375rem -0.6375rem 0 0 var(--color-accent),
        0.65rem -0.65rem 0 0 var(--color-accent),
        0.6625rem -0.6625rem 0 0 var(--color-accent),
        0.675rem -0.675rem 0 0 var(--color-accent),
        0.6875rem -0.6875rem 0 0 var(--color-accent),
        0.7rem -0.7rem 0 0 var(--color-accent),
        0.7125rem -0.7125rem 0 0 var(--color-accent),
        0.725rem -0.725rem 0 0 var(--color-accent),
        0.7375rem -0.7375rem 0 0 var(--color-accent),
        0.75rem -0.75rem 0 0 var(--color-accent);
}




#intro-section {
    display: flex;
    flex-direction: row;

    grid-area: main-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    line-height: 3.75rem;
    width: 100%;
    height: 100%;
    /*  background-color: var(--color-highlight-area); */


}

#intro-section p {
    width: 100%;
    height: 100%;
    padding: 2rem;
    background-color: var(--color-highlight-area);
}


#favourites-section {
    display: flex;
    align-items: flex-start;

    justify-content: space-evenly;
    flex-direction: column;


    width: 100%;
    height: 100%;
    grid-area: favourites-section;

}



.container-style {
    display: flex;
    justify-content: center;
    align-items: center;
    /*   background-color: var(--color-highlight-area); */
    width: 100%;
    height: 100%;
    padding: 2rem;
    background-color: #010101;


}




#skills-body {
    position: relative;
    grid-area: skills;
    height: 100%;
    background-color: var(--color-highlight-area);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
    overflow: hidden;
    z-index: 0;


}


.skill-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;


}

.skill-item img {
    filter: var(--svg-filter);

}






.svg-area {

    grid-area: socials;
    position: relative;
    overflow: hidden;
    height: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;

    align-items: center;
    width: 100%;


    /*    border: solid var(--outer-border-size) var(--color-text);
    background-color: var(--color-highlight-area); */
}









.svg-area a {

    display: flex;


    justify-content: center;
    align-items: center;

    /*   border: solid 2px red; */

}

.icon {
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    width: 6rem;
    height: 6rem;
    background-color: var(--color-accent);
}






.svg-area img {

    /*  filter: var(--svg-filter) invert(1); */
    filter: var(--svg-filter) invert(1);
    filter: invert(55%) sepia(90%) saturate(3.5);
    cursor: pointer;

    width: 6rem;
    height: auto;




}




.svg-icon {
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}



#contact-page {
    display: grid;

    width: 80%;
    height: 100%;
    gap: 2rem;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "call-for-action socials"
        "contact-form socials"
        "contact-form socials";
}

#contact-page h1 {
    position: relative;
    display: flex;
    align-items: center;
    text-align: left;

    width: 100%;
    height: 100%;
    font-size: 4rem;

    color: var(--color-accent);
    background-color: var(--color-highlight-area);
    grid-area: call-for-action;



    padding-inline: 2rem;




}



.label-textarea-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding-inline: 2rem;
    gap: 0.5rem;

}


#contact-form {
    position: relative;
    grid-area: contact-form;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    gap: 2rem;
    background-color: var(--color-highlight-area);

}

#contact-form label {

    font-size: 1.75rem;
    color: var(--color-text);
    width: 35%;
    text-align: left;



}

#contact-form textarea {
    overflow: hidden;
    resize: none;
    font-size: 1.75rem;
    width: 100%;
    background-color: var(--color-accent);
    color: var(--color-highlight-area);

    border: solid calc(var(--outer-border-size)/2) var(--color-border);
    align-self: flex-end;
    padding: 1rem;




}



/* button:hover {
    transform: translate(-5px, -5px);
    
}
 */





#contact-form button {
    /*  font-size: 1.5rem; */
    border: none;
    margin-top: 2rem;
    /* width: 9.5rem;*/
    cursor: pointer;
    align-self: flex-end;
}

#contact-form button span {
    width: 100%;
    height: 100%;
}

::placeholder {
    font-family: "Nax";

    color: var(--color-background);

    /* Firefox */
}

::-ms-input-placeholder {
    /* Edge 12 -18 */
    font-family: "Nax";
    color: var(--color-background);
}










.project-container {
    display: grid;



    gap: 2rem;
    width: 90%;
    height: 100%;
    justify-content: center;


}

.project-container:nth-child(even) {
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas: "project-header image"
        "project-body image";

}

.project-container:nth-child(odd) {
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 1.5fr;
    grid-template-areas: "image project-header"
        "image project-body";

}


.project-container:nth-child(even) .button-link {
    align-self: flex-start;
}

.project-container:nth-child(even) .button-link:hover {}



.project-container:nth-child(odd) .button-link {
    align-self: flex-end;
}




.project-container img {
    grid-area: image;
    border: solid var(--outer-border-size) var(--color-accent);

    width: 100%;
    height: 100%;
}

.project-container-content {
    grid-area: project-body;
    background-color: var(--color-highlight-area);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border: solid var(--outer-border-size) var(--color-border);


}

.project-container h1 {
    grid-area: project-header;
    display: flex;
    padding: 2rem;
    font-size: 4rem;

    color: var(--color-accent);

    background-color: var(--color-highlight-area);

    justify-content: flex-start;

    align-items: center;

    text-align: left;
    width: 100%;






}

.project-container-content p {
    width: 100%;


    padding-inline: 2rem;
}

/* .projects-links {
    width: 100%;


    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem;
    gap: 2rem;
} */



#blogs-page,
#projects-page {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    gap: 8rem;
    min-height: 100vh;

}

.blog-container {

    display: grid;
    width: 90%;


    gap: 2rem;
    /*   border: solid var(--outer-border-size) var(--color-text); */

}




.blog-container:nth-child(even) {

    grid-template-columns: 1fr 1fr;
    grid-template-areas: "image blog-header"
        "image blog-body";
}



.blog-container:nth-child(even) .button-link {
    align-self: flex-end;
}




.blog-container:nth-child(odd) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "blog-header image"
        "blog-body image";
}


.blog-container:nth-child(odd) .button-link {
    align-self: flex-start;
}












.blog-container img {
    grid-area: image;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.blog-container-content {
    height: 100%;
    width: 100%;
    grid-area: blog-body;
    display: flex;
    flex-direction: column;
    background-color: var(--color-highlight-area);
    gap: 3rem;
    align-items: center;
    justify-content: space-between;
    border: solid var(--outer-border-size) var(--color-border);

    /*  background: radial-gradient(circle at center, var(--color-highlight-area-gradient), var(--color-highlight-area)); */



}



.blog-container

/* -content */
h1 {

    grid-area: blog-header;
    position: relative;
    font-size: 3rem;
    padding: 2rem;
    color: var(--color-accent);

    background-color: var(--color-highlight-area);

    width: 100%;

    text-align: left;
}

.blog-container-content p {

    padding-inline: 2rem;
    width: 100%;

    /*  background: radial-gradient(circle at center, var(--color-highlight-area-gradient), var(--color-highlight-area)); */
}

.button-link {

    align-self: flex-start;

    padding: 0.5rem 2rem;
    text-decoration: none;
    width: fit-content;
    background-color: var(--color-accent);
    color: var(--color-highlight-area);

    font-size: 2rem;
    transition: 0.3s;
}

/* .button-link:hover,
 */
.button-link.active-1 {
    padding-block: 0.5rem;
    padding-inline: 2.5rem;
}


.categories {

    position: relative;
    background-color: var(--color-highlight-area);
    /*  background: radial-gradient(circle at center, var(--color-highlight-area-gradient), var(--color-highlight-area)); */

    display: flex;

    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    padding-inline: 2rem;
    margin-top: 2rem;
    width: 100%;
    gap: 2rem;
    z-index: 1;

}




.category-area:first-child {
    border: none
}


.category-area {



    justify-content: center;
    align-items: flex-start;
    position: relative;

    user-select: none;


    height: fit-content;

    font-size: 1.75rem;
    color: var(--color-accent);

    font-weight: 700;
    z-index: 3;
}







@media (max-width: 2024px) {
    html {
        font-size: 16px;
    }








    .skill-item img {
        margin-inline: 2rem;
        width: 5.5rem;
        height: auto;
    }





}

body,
#root {
    margin: 0;
    /* Reset margins */
    padding: 0;
    /* Reset paddings */
    min-height: 100vh;
    /* Ensure the viewport height is fully used */
}

@media (max-width: 900px) {
    html {
        font-size: 8px;
    }


    .page-margins {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }


    .nav-bar {
        position: sticky;
        bottom: 0;
        left: 0;
        right: 0;
        gap: 0;
        text-align: center;
        background-color: var(--color-background);


    }



    .link {
        width: 100%;
        height: 100%;
        padding-block: 1.75rem;
        padding-inline: 1.5rem;
    }





    #aboutme-page {
        grid-template-rows: 1fr 1fr 1fr 2fr 2fr;
        grid-template-areas:
            /*  'navigation navigation navigation' */
            'name favourites-1 favourites-1'
            'name favourites-2 favourites-2'
            'name favourites-3 favourites-3'
            'main-content main-content main-content'
            'skills skills skills'

        ;
    }


    #intro-section {
        display: flex;
        flex-direction: column;
    }


    #favourites-1 span:nth-child(1),
    #favourites-2 span:nth-child(1),
    #favourites-3 span:nth-child(1) {
        font-size: 2.5rem;

    }

    #favourites-1 span:nth-child(2),
    #favourites-2 span:nth-child(2),
    #favourites-3 span:nth-child(2) {

        font-size: 3.5rem
    }















    #contact-page {
        grid-template-columns: 1fr;

        grid-template-rows: 0.5fr 3fr 1fr;
        grid-template-areas: "call-for-action"
            "contact-form"
            "socials";
    }

    .svg-area {
        flex-direction: row;
        height: fit-content;
    }



    .blog-container:nth-child(even),
    .blog-container:nth-child(odd) {

        grid-template-columns: 1fr;
        grid-template-areas: "image"
            "blog-header"
            "blog-body";
    }

    .blog-container:nth-child(even) img,
    .blog-container:nth-child(odd) img {
        grid-area: image;
        width: 100%;
        height: auto;
        object-fit: cover;
    }








    .project-container:nth-child(even),
    .project-container:nth-child(odd) {
        grid-template-columns: 1fr;
        grid-template-areas: "project-header"
            "project-body"
            "image";


    }

    .project-container .button-link,
    .blog-container .button-link {
        align-self: flex-start !important;
    }

    .container-shadow-right,
    .container-shadow-left {
        box-shadow: -0.0625rem -0.0625rem 0 0 var(--color-accent),
            -0.075rem -0.075rem 0 0 var(--color-accent),
            -0.0875rem -0.0875rem 0 0 var(--color-accent),
            -0.1rem -0.1rem 0 0 var(--color-accent),
            -0.1125rem -0.1125rem 0 0 var(--color-accent),
            -0.125rem -0.125rem 0 0 var(--color-accent),
            -0.1375rem -0.1375rem 0 0 var(--color-accent),
            -0.15rem -0.15rem 0 0 var(--color-accent),
            -0.1625rem -0.1625rem 0 0 var(--color-accent),
            -0.175rem -0.175rem 0 0 var(--color-accent),
            -0.1875rem -0.1875rem 0 0 var(--color-accent),
            -0.2rem -0.2rem 0 0 var(--color-accent),
            -0.2125rem -0.2125rem 0 0 var(--color-accent),
            -0.225rem -0.225rem 0 0 var(--color-accent),
            -0.2375rem -0.2375rem 0 0 var(--color-accent),
            -0.25rem -0.25rem 0 0 var(--color-accent),
            -0.2625rem -0.2625rem 0 0 var(--color-accent),
            -0.275rem -0.275rem 0 0 var(--color-accent),
            -0.2875rem -0.2875rem 0 0 var(--color-accent),
            -0.3rem -0.3rem 0 0 var(--color-accent),
            -0.3125rem -0.3125rem 0 0 var(--color-accent),
            -0.325rem -0.325rem 0 0 var(--color-accent),
            -0.3375rem -0.3375rem 0 0 var(--color-accent),
            -0.35rem -0.35rem 0 0 var(--color-accent),
            -0.3625rem -0.3625rem 0 0 var(--color-accent),
            -0.375rem -0.375rem 0 0 var(--color-accent),
            -0.3875rem -0.3875rem 0 0 var(--color-accent),
            -0.4rem -0.4rem 0 0 var(--color-accent),
            -0.4125rem -0.4125rem 0 0 var(--color-accent),
            -0.425rem -0.425rem 0 0 var(--color-accent),
            -0.4375rem -0.4375rem 0 0 var(--color-accent),
            -0.45rem -0.45rem 0 0 var(--color-accent),
            -0.4625rem -0.4625rem 0 0 var(--color-accent),
            -0.475rem -0.475rem 0 0 var(--color-accent),
            -0.4875rem -0.4875rem 0 0 var(--color-accent),
            -0.5rem -0.5rem 0 0 var(--color-accent),
            -0.5125rem -0.5125rem 0 0 var(--color-accent),
            -0.525rem -0.525rem 0 0 var(--color-accent),
            -0.5375rem -0.5375rem 0 0 var(--color-accent),
            -0.55rem -0.55rem 0 0 var(--color-accent),
            -0.5625rem -0.5625rem 0 0 var(--color-accent),
            -0.575rem -0.575rem 0 0 var(--color-accent),
            -0.5875rem -0.5875rem 0 0 var(--color-accent),
            -0.6rem -0.6rem 0 0 var(--color-accent),
            -0.6125rem -0.6125rem 0 0 var(--color-accent),
            -0.625rem -0.625rem 0 0 var(--color-accent),
            -0.6375rem -0.6375rem 0 0 var(--color-accent),
            -0.65rem -0.65rem 0 0 var(--color-accent),
            -0.6625rem -0.6625rem 0 0 var(--color-accent),
            -0.675rem -0.675rem 0 0 var(--color-accent),
            -0.6875rem -0.6875rem 0 0 var(--color-accent),
            -0.7rem -0.7rem 0 0 var(--color-accent),
            -0.7125rem -0.7125rem 0 0 var(--color-accent),
            -0.725rem -0.725rem 0 0 var(--color-accent),
            -0.7375rem -0.7375rem 0 0 var(--color-accent),
            -0.75rem -0.75rem 0 0 var(--color-accent);

    }

    .header-shadow-left,
    .header-shadow-right {
        box-shadow: 0.0625rem -0.0625rem 0 0 var(--color-highlight-area),
            0.075rem -0.075rem 0 0 var(--color-highlight-area),
            0.0875rem -0.0875rem 0 0 var(--color-highlight-area),
            0.1rem -0.1rem 0 0 var(--color-highlight-area),
            0.1125rem -0.1125rem 0 0 var(--color-highlight-area),
            0.125rem -0.125rem 0 0 var(--color-highlight-area),
            0.1375rem -0.1375rem 0 0 var(--color-highlight-area),
            0.15rem -0.15rem 0 0 var(--color-highlight-area),
            0.1625rem -0.1625rem 0 0 var(--color-highlight-area),
            0.175rem -0.175rem 0 0 var(--color-highlight-area),
            0.1875rem -0.1875rem 0 0 var(--color-highlight-area),
            0.2rem -0.2rem 0 0 var(--color-highlight-area),
            0.2125rem -0.2125rem 0 0 var(--color-highlight-area),
            0.225rem -0.225rem 0 0 var(--color-highlight-area),
            0.2375rem -0.2375rem 0 0 var(--color-highlight-area),
            0.25rem -0.25rem 0 0 var(--color-highlight-area),
            0.2625rem -0.2625rem 0 0 var(--color-highlight-area),
            0.275rem -0.275rem 0 0 var(--color-highlight-area),
            0.2875rem -0.2875rem 0 0 var(--color-highlight-area),
            0.3rem -0.3rem 0 0 var(--color-highlight-area),
            0.3125rem -0.3125rem 0 0 var(--color-highlight-area),
            0.325rem -0.325rem 0 0 var(--color-highlight-area),
            0.3375rem -0.3375rem 0 0 var(--color-highlight-area),
            0.35rem -0.35rem 0 0 var(--color-highlight-area),
            0.3625rem -0.3625rem 0 0 var(--color-highlight-area),
            0.375rem -0.375rem 0 0 var(--color-highlight-area),
            0.3875rem -0.3875rem 0 0 var(--color-highlight-area),
            0.4rem -0.4rem 0 0 var(--color-highlight-area),
            0.4125rem -0.4125rem 0 0 var(--color-highlight-area),
            0.425rem -0.425rem 0 0 var(--color-highlight-area),
            0.4375rem -0.4375rem 0 0 var(--color-highlight-area),
            0.45rem -0.45rem 0 0 var(--color-highlight-area),
            0.4625rem -0.4625rem 0 0 var(--color-highlight-area),
            0.475rem -0.475rem 0 0 var(--color-highlight-area),
            0.4875rem -0.4875rem 0 0 var(--color-highlight-area),
            0.5rem -0.5rem 0 0 var(--color-highlight-area),
            0.5125rem -0.5125rem 0 0 var(--color-highlight-area),
            0.525rem -0.525rem 0 0 var(--color-highlight-area),
            0.5375rem -0.5375rem 0 0 var(--color-highlight-area),
            0.55rem -0.55rem 0 0 var(--color-highlight-area),
            0.5625rem -0.5625rem 0 0 var(--color-highlight-area),
            0.575rem -0.575rem 0 0 var(--color-highlight-area),
            0.5875rem -0.5875rem 0 0 var(--color-highlight-area),
            0.6rem -0.6rem 0 0 var(--color-highlight-area),
            0.6125rem -0.6125rem 0 0 var(--color-highlight-area),
            0.625rem -0.625rem 0 0 var(--color-highlight-area),
            0.6375rem -0.6375rem 0 0 var(--color-highlight-area),
            0.65rem -0.65rem 0 0 var(--color-highlight-area),
            0.6625rem -0.6625rem 0 0 var(--color-highlight-area),
            0.675rem -0.675rem 0 0 var(--color-highlight-area),
            0.6875rem -0.6875rem 0 0 var(--color-highlight-area),
            0.7rem -0.7rem 0 0 var(--color-highlight-area),
            0.7125rem -0.7125rem 0 0 var(--color-highlight-area),
            0.725rem -0.725rem 0 0 var(--color-highlight-area),
            0.7375rem -0.7375rem 0 0 var(--color-highlight-area),
            0.75rem -0.75rem 0 0 var(--color-highlight-area);


    }



}






#projects {
    position: relative;
}


.notification {
    text-align: center;
    white-space: nowrap;
    z-index: -10;
    position: absolute;
    top: 75%;

    left: 0.5%;
    opacity: 0;
    padding: 1rem 2rem;
    font-size: 2rem;
    width: fit-content;
    height: fit-content;
    background-color: var(--color-accent);
    color: var(--color-highlight-area);
    /*  writing-mode: vertical-lr; */
    transform: translate(0, 0);
    transition: 1.5s;
}

.show-notification {
    opacity: 1;
    top: 100%;


}

#error-message {
    padding-inline: 1rem;
    color: var(--color-accent);
    font-size: 1.75rem;
    align-self: flex-end;
}

#error-message.show {
    transition: 0.3s;
    animation: showTextSpan 0.3s ease-out;
}