@import url(https://fonts.cdnfonts.com/css/andale-mono);

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}



* {

    box-sizing: border-box;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */

}

/* a,
body,
button,
h1,
h2,
label,
span {
    font-family: "Andalé Mono", "Andale Mono", "Lucida Console", "Courier New", monospace !important
}
 */
:root,
:root.light {
    --outer-border-size: 0rem;

}

:root {

    --color-background: #292929;
    --color-text: #FAF8F5;
    --color-border: #FFC300;
    --color-accent: #FFC300;
    --color-accent-gradient: #D9A700;
    --color-highlight-area: rgb(10, 10, 10);
    --svg-filter: invert(1);
    background-image: linear-gradient(to right, #434343 0%, black 100%);

    --shape-color: #ff3121;
    /* background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%); #F8F8FF*/
    /*     --shape-color-secondary: #E6E6E6;
 */
    --shape-color-secondary: #DCDCDC;

    /* background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%);
    background-blend-mode: multiply; */
    --container-background: rgba(0, 0, 0, 0.65);



}

:root.light {
    --color-background: #f4c2c2;
    --color-text: #1a1a1a;
    --color-border: #db0a5b;
    --color-accent: #AF0848;
    --color-accent-gradient: #C01074;
    --color-highlight-area: #E6E6FA;
    --color-highlight-text: #808080;
    --svg-filter: invert(0);

    /* background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%); */
    /*  background: linear-gradient(243deg, rgb(255, 253, 221) 13.4%, rgb(248, 215, 215) 82.1%); */
    background: radial-gradient(circle at 10% 20%, rgb(248, 219, 219) 0%, rgb(229, 248, 250) 90%);
    --shape-color: #008080;
    --shape-color-secondary: black;

    --container-background: rgba(255, 255, 255, 0.65);
}

.page-margins {


    margin-top: 10rem;
    /*  margin-left: 15rem;
    margin-right: 2.5rem; */
    margin-bottom: 5rem;
}


.link {
    color: var(--color-accent);
    font-size: 1.75rem;
    text-align: center;
    text-decoration: none;
    padding: .5rem 1rem;
    background-color: transparent
}

.link-active,
.link:hover {
    color: var(--color-highlight-area);
    background-color: var(--color-accent);
    transition: .3s
}

#theme-icon img.spin {
    animation: spin .5s ease-in-out
}

#theme-icon {
    padding-inline: 2rem;
    cursor: pointer
}

#theme-icon img {
    width: 3rem;
    filter: var(--svg-filter)
}

html {
    position: relative;
    /*   background-color: var(--color-highlight-area); */
    /*   background-color: transparent; */

}





h1,
h2,
p {
    margin: 0
}

p {
    font-size: 1.75rem;
    line-height: 3rem;
    font-weight: 400;
    color: var(--color-text)
}

/* p,
textarea {
    font-family: "Andalé Mono", "Andale Mono", "Lucida Console", "Courier New", monospace !important
}
 */
textarea:focus {
    outline: 0
}

a:hover {
    cursor: pointer
}

.rotate-icon {
    transition: .3s ease-in-out;
    transform: rotate(360deg)
}

.centered-page {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;


}

.centered-page::before {
    content: "";
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: 200px;
    opacity: 0.5;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -400;
}

/* :root::before {
    content: "";
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: 200px;
    opacity: 0.5;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -400;
} */


#about-shape-1,
#about-shape-2,

.zigzag-pattern,
#connect-shape-1,
#connect-shape-2 {
    position: absolute;



    background-color: var(--shape-color);
    opacity: 1;
    z-index: -900;

    /* Optional: ensures it doesn't block interaction */



}

#about-shape-1 {
    top: -35%;
    left: -25%;
    width: 85%;


    aspect-ratio: 1;
    clip-path: polygon(100% 50%, 79.84% 53.14%, 98.91% 60.4%, 78.53% 59.27%, 95.68% 70.34%, 75.98% 65%, 90.45% 79.39%, 72.29% 70.07%, 83.46% 87.16%, 67.63% 74.27%, 75% 93.3%, 62.2% 77.41%, 65.45% 97.55%, 56.24% 79.34%, 55.23% 99.73%, 50% 80%, 44.77% 99.73%, 43.76% 79.34%, 34.55% 97.55%, 37.8% 77.41%, 25% 93.3%, 32.37% 74.27%, 16.54% 87.16%, 27.71% 70.07%, 9.55% 79.39%, 24.02% 65%, 4.32% 70.34%, 21.47% 59.27%, 1.09% 60.4%, 20.16% 53.14%, 0% 50%, 20.16% 46.86%, 1.09% 39.6%, 21.47% 40.73%, 4.32% 29.66%, 24.02% 35%, 9.55% 20.61%, 27.71% 29.93%, 16.54% 12.84%, 32.37% 25.73%, 25% 6.7%, 37.8% 22.59%, 34.55% 2.45%, 43.76% 20.66%, 44.77% 0.27%, 50% 20%, 55.23% 0.27%, 56.24% 20.66%, 65.45% 2.45%, 62.2% 22.59%, 75% 6.7%, 67.63% 25.73%, 83.46% 12.84%, 72.29% 29.93%, 90.45% 20.61%, 75.98% 35%, 95.68% 29.66%, 78.53% 40.73%, 98.91% 39.6%, 79.84% 46.86%);




}

#about-shape-2 {
    bottom: -15%;
    right: -20%;

    /* width: calc(100vw - 65rem); */
    width: 60%;
    background-color: var(--shape-color-secondary);
    transform: translate(0, 40%);
    aspect-ratio: 1;
    clip-path: polygon(100% 50%, 79.84% 53.14%, 98.91% 60.4%, 78.53% 59.27%, 95.68% 70.34%, 75.98% 65%, 90.45% 79.39%, 72.29% 70.07%, 83.46% 87.16%, 67.63% 74.27%, 75% 93.3%, 62.2% 77.41%, 65.45% 97.55%, 56.24% 79.34%, 55.23% 99.73%, 50% 80%, 44.77% 99.73%, 43.76% 79.34%, 34.55% 97.55%, 37.8% 77.41%, 25% 93.3%, 32.37% 74.27%, 16.54% 87.16%, 27.71% 70.07%, 9.55% 79.39%, 24.02% 65%, 4.32% 70.34%, 21.47% 59.27%, 1.09% 60.4%, 20.16% 53.14%, 0% 50%, 20.16% 46.86%, 1.09% 39.6%, 21.47% 40.73%, 4.32% 29.66%, 24.02% 35%, 9.55% 20.61%, 27.71% 29.93%, 16.54% 12.84%, 32.37% 25.73%, 25% 6.7%, 37.8% 22.59%, 34.55% 2.45%, 43.76% 20.66%, 44.77% 0.27%, 50% 20%, 55.23% 0.27%, 56.24% 20.66%, 65.45% 2.45%, 62.2% 22.59%, 75% 6.7%, 67.63% 25.73%, 83.46% 12.84%, 72.29% 29.93%, 90.45% 20.61%, 75.98% 35%, 95.68% 29.66%, 78.53% 40.73%, 98.91% 39.6%, 79.84% 46.86%);




}

#designs-page .zigzag-pattern {
    left: 0;
}


.zigzag-pattern {

    top: 0;
    left: 10%;
    /*     width: 25%;
 */
    height: 100%;
    background-color: var(--color-accent);
    --a: 100deg;
    /* control the angle */
    --s: 200px;
    /* size of the zig-zag */
    --b: 10rem;
    /* control the thickness */

    width: calc(var(--b) + var(--s)/(2*tan(var(--a)/2)));
    min-height: 250px;
    --_g: 100% var(--s) repeat-y conic-gradient(from calc(90deg - var(--a)/2) at left,
            #0000, #000 1deg calc(var(--a) - 1deg), #0000 var(--a));
    mask: var(--b) 50%/var(--_g) exclude, 0 50%/var(--_g);
    transform: scaleX(1);
    transition: 1s;

}




/* #projects-shape-2::before {
    content: "";
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: 100px;
    opacity: 0.5;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -400;

    transition: 1s;

}

 */

/* #designs-shape {

    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;

    transition: 1s;
    aspect-ratio: 1;
    clip-path: polygon(100% 50%, 81.17% 89.09%, 38.87% 98.75%, 4.95% 71.69%, 4.95% 28.31%, 38.87% 1.25%, 81.17% 10.91%, 100% 50%, calc(81.17% - 12.47px) calc(10.91% - -15.64px), calc(38.87% - -4.45px) calc(1.25% - -19.5px), calc(4.95% - -18.02px) calc(28.31% - -8.68px), calc(4.95% - -18.02px) calc(71.69% - 8.68px), calc(38.87% - -4.45px) calc(98.75% - 19.5px), calc(81.17% - 12.47px) calc(89.09% - 15.64px), calc(100% - 20px) calc(50% - 0px), calc(81.17% - 12.47px) calc(10.91% - -15.64px));



} */
/* 
#blogs-shape {
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;

    --p: 1rem;
    background-color: var(--color-highlight-area);
    aspect-ratio: 1;
    clip-path: polygon(0 0, 100% 0, calc(100% - var(--p)) 100%, 0 100%);
} */



#connect-shape-1 {


    right: -8%;
    bottom: 5%;

    width: 55%;


    aspect-ratio: 1;
    clip-path: polygon(100% 50%, 79.84% 53.14%, 98.91% 60.4%, 78.53% 59.27%, 95.68% 70.34%, 75.98% 65%, 90.45% 79.39%, 72.29% 70.07%, 83.46% 87.16%, 67.63% 74.27%, 75% 93.3%, 62.2% 77.41%, 65.45% 97.55%, 56.24% 79.34%, 55.23% 99.73%, 50% 80%, 44.77% 99.73%, 43.76% 79.34%, 34.55% 97.55%, 37.8% 77.41%, 25% 93.3%, 32.37% 74.27%, 16.54% 87.16%, 27.71% 70.07%, 9.55% 79.39%, 24.02% 65%, 4.32% 70.34%, 21.47% 59.27%, 1.09% 60.4%, 20.16% 53.14%, 0% 50%, 20.16% 46.86%, 1.09% 39.6%, 21.47% 40.73%, 4.32% 29.66%, 24.02% 35%, 9.55% 20.61%, 27.71% 29.93%, 16.54% 12.84%, 32.37% 25.73%, 25% 6.7%, 37.8% 22.59%, 34.55% 2.45%, 43.76% 20.66%, 44.77% 0.27%, 50% 20%, 55.23% 0.27%, 56.24% 20.66%, 65.45% 2.45%, 62.2% 22.59%, 75% 6.7%, 67.63% 25.73%, 83.46% 12.84%, 72.29% 29.93%, 90.45% 20.61%, 75.98% 35%, 95.68% 29.66%, 78.53% 40.73%, 98.91% 39.6%, 79.84% 46.86%);





}

#connect-shape-2 {
    top: -10%;
    left: -20%;
    width: 70%;
    background-color: var(--shape-color-secondary);

    aspect-ratio: 1;
    clip-path: polygon(100% 50%, 79.84% 53.14%, 98.91% 60.4%, 78.53% 59.27%, 95.68% 70.34%, 75.98% 65%, 90.45% 79.39%, 72.29% 70.07%, 83.46% 87.16%, 67.63% 74.27%, 75% 93.3%, 62.2% 77.41%, 65.45% 97.55%, 56.24% 79.34%, 55.23% 99.73%, 50% 80%, 44.77% 99.73%, 43.76% 79.34%, 34.55% 97.55%, 37.8% 77.41%, 25% 93.3%, 32.37% 74.27%, 16.54% 87.16%, 27.71% 70.07%, 9.55% 79.39%, 24.02% 65%, 4.32% 70.34%, 21.47% 59.27%, 1.09% 60.4%, 20.16% 53.14%, 0% 50%, 20.16% 46.86%, 1.09% 39.6%, 21.47% 40.73%, 4.32% 29.66%, 24.02% 35%, 9.55% 20.61%, 27.71% 29.93%, 16.54% 12.84%, 32.37% 25.73%, 25% 6.7%, 37.8% 22.59%, 34.55% 2.45%, 43.76% 20.66%, 44.77% 0.27%, 50% 20%, 55.23% 0.27%, 56.24% 20.66%, 65.45% 2.45%, 62.2% 22.59%, 75% 6.7%, 67.63% 25.73%, 83.46% 12.84%, 72.29% 29.93%, 90.45% 20.61%, 75.98% 35%, 95.68% 29.66%, 78.53% 40.73%, 98.91% 39.6%, 79.84% 46.86%);

}



#aboutme-page {
    position: relative;
    display: grid;
    width: 90%;
    gap: 2rem;
    grid-template-columns: .5fr 2fr 1.5fr;
    grid-template-rows: auto 1fr 1fr 1fr;
    grid-template-areas:
        "name main-content  favourites-section"
        "name skills favourites-section"
        "name skills favourites-section"
        "name skills favourites-section";
    height: fit-content
}

.text-highlight {
    color: var(--color-accent);
    font-size: 3rem
}

#favourites-1 {
    grid-area: favourites-1;

    transition: 0.45s;
    /*     animation: shadow 1s ease-in-out infinite alternate; */
}

@keyframes shadow {
    0% {
        box-shadow: -0.5rem 0rem 0rem var(--color-accent) !important;
    }

    50% {
        box-shadow: -0.9rem 0rem 0rem var(--color-accent) !important;
    }

    100% {
        box-shadow: -0.5rem 0rem 0rem var(--color-accent) !important;
    }
}

#favourites-1,
#favourites-2,
#favourites-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    gap: 1.5rem;
    width: 100%;
}

#favourites-2 {
    grid-area: favourites-2
}

#favourites-3 {
    grid-area: favourites-3
}

#favourites-1 span:nth-child(1),
#favourites-2 span:nth-child(1),
#favourites-3 span:nth-child(1) {
    font-size: 2rem;
    align-self: flex-start;
    white-space: nowrap
}

#favourites-1 span:nth-child(2),
#favourites-2 span:nth-child(2),
#favourites-3 span:nth-child(2) {
    align-self: flex-end;
    color: var(--color-accent);
    font-size: 3rem;
    white-space: nowrap
}

#my-name {

    display: flex;
    justify-content: center;
    padding: 2rem;
    font-size: 6.5rem;
    align-items: center;
    grid-area: name;
    height: auto;
    width: 100%;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    color: var(--color-highlight-area);
    background-color: var(--color-accent);
    border: solid var(--outer-border-size) var(--color-border);

    box-shadow: .0625rem .0625rem 0 0 var(--color-highlight-area), .075rem .075rem 0 0 var(--color-highlight-area), .0875rem .0875rem 0 0 var(--color-highlight-area), .1rem .1rem 0 0 var(--color-highlight-area), .1125rem .1125rem 0 0 var(--color-highlight-area), .125rem .125rem 0 0 var(--color-highlight-area), .1375rem .1375rem 0 0 var(--color-highlight-area), .15rem .15rem 0 0 var(--color-highlight-area), .1625rem .1625rem 0 0 var(--color-highlight-area), .175rem .175rem 0 0 var(--color-highlight-area), .1875rem .1875rem 0 0 var(--color-highlight-area), .2rem .2rem 0 0 var(--color-highlight-area), .2125rem .2125rem 0 0 var(--color-highlight-area), .225rem .225rem 0 0 var(--color-highlight-area), .2375rem .2375rem 0 0 var(--color-highlight-area), .25rem .25rem 0 0 var(--color-highlight-area), .2625rem .2625rem 0 0 var(--color-highlight-area), .275rem .275rem 0 0 var(--color-highlight-area), .2875rem .2875rem 0 0 var(--color-highlight-area), .3rem .3rem 0 0 var(--color-highlight-area), .3125rem .3125rem 0 0 var(--color-highlight-area), .325rem .325rem 0 0 var(--color-highlight-area), .3375rem .3375rem 0 0 var(--color-highlight-area), .35rem .35rem 0 0 var(--color-highlight-area), .3625rem .3625rem 0 0 var(--color-highlight-area), .375rem .375rem 0 0 var(--color-highlight-area), .3875rem .3875rem 0 0 var(--color-highlight-area), .4rem .4rem 0 0 var(--color-highlight-area), .4125rem .4125rem 0 0 var(--color-highlight-area), .425rem .425rem 0 0 var(--color-highlight-area), .4375rem .4375rem 0 0 var(--color-highlight-area), .45rem .45rem 0 0 var(--color-highlight-area), .4625rem .4625rem 0 0 var(--color-highlight-area), .475rem .475rem 0 0 var(--color-highlight-area), .4875rem .4875rem 0 0 var(--color-highlight-area), .5rem .5rem 0 0 var(--color-highlight-area), .5125rem .5125rem 0 0 var(--color-highlight-area), .525rem .525rem 0 0 var(--color-highlight-area), .5375rem .5375rem 0 0 var(--color-highlight-area), .55rem .55rem 0 0 var(--color-highlight-area), .5625rem .5625rem 0 0 var(--color-highlight-area), .575rem .575rem 0 0 var(--color-highlight-area), .5875rem .5875rem 0 0 var(--color-highlight-area), .6rem .6rem 0 0 var(--color-highlight-area), .6125rem .6125rem 0 0 var(--color-highlight-area), .625rem .625rem 0 0 var(--color-highlight-area), .6375rem .6375rem 0 0 var(--color-highlight-area), .65rem .65rem 0 0 var(--color-highlight-area), .6625rem .6625rem 0 0 var(--color-highlight-area), .675rem .675rem 0 0 var(--color-highlight-area), .6875rem .6875rem 0 0 var(--color-highlight-area), .7rem .7rem 0 0 var(--color-highlight-area), .7125rem .7125rem 0 0 var(--color-highlight-area), .725rem .725rem 0 0 var(--color-highlight-area), .7375rem .7375rem 0 0 var(--color-highlight-area), .75rem .75rem 0 0 var(--color-highlight-area)
}

#intro-section,
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.nav-bar {
    position: fixed;
    top: 2rem;
    right: 2rem;
    gap: 0;
    height: auto;
    z-index: 200
}

#intro-section {
    position: relative;
    flex-direction: column;
    grid-area: main-content;

    line-height: 3.75rem;
    width: 100%;
    height: 100%;
    justify-self: center;

}

#intro-section p {
    width: 100%;
    height: 100%;
    padding: 2rem;

}


#skills-body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}

#favourites-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    grid-area: favourites-section
}

.container-style,
.skill-item {
    display: flex;
    align-items: center;
    justify-content: center
}



.container-style {
    position: relative;
    border: solid 0 var(--color-highlight-area);
    border-radius: 0rem;
    padding: 0rem;
    background: var(--container-background);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    transition: backdrop-filter 0.5s;
    /*     box-shadow: 2rem -2rem 0px var(--color-accent);
 */

}

/* .container-style:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-highlight-area);
    opacity: 0.45;
    z-index: -1;

}
 */

#skills-body {
    grid-area: skills;
    padding: 2rem;
    align-self: center;
    gap: 2rem;
    z-index: 0
}

.skill-item,
.svg-area {
    flex-direction: column;
    gap: .5rem
}

.skill-item img {
    filter: var(--svg-filter);
    width: 5rem;
}

.skill-item label {
    font-size: 1.25rem;
    font-weight: 400
}

#skills-body,
.svg-area {
    position: relative;
    overflow: hidden;
    flex-wrap: wrap
}

.svg-area {

    grid-area: socials;
    height: 70%;
    margin: auto;
    gap: 3rem;
    width: 100%
}

#contact-page h1,
.svg-area,
.svg-area a {
    display: flex;
    align-items: center
}

.svg-area,
.svg-area a {
    justify-content: center
}

#contact-form textarea,
.icon {
    background-color: var(--color-accent)
}

.icon,
.svg-icon {
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat
}

.icon {
    mask-size: 100%;
    width: 6rem;
    height: 6rem
}

.svg-area img {
    filter: var(--svg-filter) invert(1);
    filter: invert(55%) sepia(90%) saturate(3.5);
    cursor: pointer;
    width: 6rem;
    height: auto
}

.svg-icon {
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center
}

#contact-page {


    display: grid;
    width: 80%;
    height: 100%;
    gap: 2rem;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "call-for-action socials" "contact-form socials" "contact-form socials"
}

#contact-page h1 {
    text-align: left;
    font-size: 4rem;
    color: var(--color-accent);
    grid-area: call-for-action;
    padding-inline: 2rem
}

#contact-form,
.label-textarea-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%
}

.label-textarea-section {
    align-items: flex-start;
    padding-inline: 2rem;
    gap: .5rem
}

#contact-page h1 {
    position: relative;
    background-color: var(--color-highlight-area)
}

#contact-form {
    grid-area: contact-form;

    padding-top: 2rem;
    align-items: center;
    height: fit-content;
    gap: 2rem
}

#contact-form label {
    font-size: 1.75rem;
    color: var(--color-text);
    width: 35%;
    text-align: left
}

#contact-form textarea {
    overflow: hidden;
    resize: none;
    font-size: 1.75rem;
    width: 100%;
    color: var(--color-highlight-area);
    border: solid calc(var(--outer-border-size)/2) var(--color-border);
    align-self: flex-end;
    padding: 1rem
}

#contact-form button {
    border: 0;
    margin-top: 2rem;
    cursor: pointer;
    align-self: flex-start;
}

#contact-form button span,
#contact-page h1 {
    width: 100%;
    height: 100%
}



/* .project-container {
    display: grid;
    gap: 2rem;
    width: 105%;
    height: 100%;
    justify-content: center
}
 */
.project-container:nth-child(even) {
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr;
    grid-template-areas: "project-header" "project-body"
}

.project-container:nth-child(odd) {
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr;
    grid-template-areas: "project-header" "project-body"
}

.project-container-content:nth-child(even) .button-link {
    align-self: flex-start;
}

.blog-container:nth-child(even) .button-link,
.project-container-content:nth-child(odd) .button-link {
    align-self: flex-start
}



.project-container-content {
    grid-area: project-body;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    width: 70%;
    border: solid var(--outer-border-size) var(--color-border)
}




.project-container-content h1 {
    width: 100%;
    grid-area: project-header;
    padding: 2rem;
    padding-bottom: 0rem;
    letter-spacing: 0.5rem;
    font-size: 5rem;
    color: var(--color-accent);
    text-align: left
}

.project-container-content p {
    width: 100%;
    padding-inline: 2rem
}

#projects-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10rem;
    width: 100%;
    margin-left: 12.5rem;
    min-height: 100vh;

}


#blogs-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    justify-items: center;
    justify-content: center;
    width: 95%;
    gap: 10rem 4rem;
    min-height: 100vh
}

.blog-container {
    display: grid;
    width: 90%;
    height: 100%;
    gap: 2rem
}

.blog-container:nth-child(even),
.blog-container:nth-child(odd) {
    grid-template-rows: auto 2fr;
    grid-template-columns: 1fr;
    grid-template-areas: "blog-header" "blog-body"
}

.blog-container:nth-child(odd) .button-link {
    align-self: flex-start;
}

.blog-container img {
    grid-area: image;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.blog-container-content {
    height: 100%;
    width: 100%;
    grid-area: blog-body;
    display: flex;
    flex-direction: column;

    gap: 3rem;
    align-items: center;
    justify-content: space-between;
    border: solid var(--outer-border-size) var(--color-border)
}

.blog-container h1 {
    grid-area: blog-header;
    font-size: 2.25rem;
    padding: 2rem;
    color: var(--color-accent);
    text-align: left
}

.blog-container-content p {
    padding-inline: 2rem;
    width: 100%
}

.button-link {
    padding: .5rem 2.5rem;
    text-decoration: none;
    width: fit-content;
    background-color: var(--color-accent);
    color: var(--color-highlight-area);
    font-size: 2rem;
    margin: 2rem;
    transition: .3s
}

.button-link.active-1 {
    padding-block: .5rem;
    padding-inline: 2.5rem
}

.blog-container h1,
.categories {
    position: relative;
    background-color: transparent;
    width: 100%
}

.categories {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    justify-content: flex-start;
    padding-inline: 2rem;
    margin-top: 0rem;

    gap: 1.5rem;
    z-index: 1
}

.category-area:first-child {
    border: 0
}

.category-area {
    justify-content: center;
    align-items: flex-start;
    position: relative;
    user-select: none;
    height: fit-content;
    font-size: 1.75rem;
    color: var(--color-accent);
    font-weight: 700;
    z-index: 3
}



@media (max-width:2024px) and (min-width:900px) {
    html {
        font-size: 16px
    }

    #theme-icon-mobile {
        display: none;
    }

    .modal-nav {
        display: none;
    }

    .skill-item img {
        margin-inline: 2rem;
        width: 5.5rem;
        height: auto
    }
}

#root,
body {

    margin: 0;
    padding: 0;
    min-height: 100vh;

}

@media (max-width:900px) {

    #theme-icon-mobile {
        position: fixed;
        top: 1rem;
        right: 3rem;
        width: 5rem;
        filter: var(--svg-filter)
    }

    #theme-icon-mobile img {
        width: 5rem;
    }

    #theme-icon-mobile img.spin {
        animation: spin .5s ease-in-out
    }

    html {
        font-size: 9px
    }

    .page-margins {
        margin-top: 8rem;
        margin-left: 0rem;
        margin-right: 0rem;
        margin-bottom: 5rem
    }

    .nav-bar {

        display: none;
    }

    .link {
        width: fit-content;
        height: 100%;
        padding-block: 1.75rem;
        font-size: 1.5rem;

    }

    #about-shape-1 {
        top: -20%;
        left: 0;
        right: 0;
        width: 150%;


        aspect-ratio: 1;
        clip-path: polygon(100% 50%, 79.84% 53.14%, 98.91% 60.4%, 78.53% 59.27%, 95.68% 70.34%, 75.98% 65%, 90.45% 79.39%, 72.29% 70.07%, 83.46% 87.16%, 67.63% 74.27%, 75% 93.3%, 62.2% 77.41%, 65.45% 97.55%, 56.24% 79.34%, 55.23% 99.73%, 50% 80%, 44.77% 99.73%, 43.76% 79.34%, 34.55% 97.55%, 37.8% 77.41%, 25% 93.3%, 32.37% 74.27%, 16.54% 87.16%, 27.71% 70.07%, 9.55% 79.39%, 24.02% 65%, 4.32% 70.34%, 21.47% 59.27%, 1.09% 60.4%, 20.16% 53.14%, 0% 50%, 20.16% 46.86%, 1.09% 39.6%, 21.47% 40.73%, 4.32% 29.66%, 24.02% 35%, 9.55% 20.61%, 27.71% 29.93%, 16.54% 12.84%, 32.37% 25.73%, 25% 6.7%, 37.8% 22.59%, 34.55% 2.45%, 43.76% 20.66%, 44.77% 0.27%, 50% 20%, 55.23% 0.27%, 56.24% 20.66%, 65.45% 2.45%, 62.2% 22.59%, 75% 6.7%, 67.63% 25.73%, 83.46% 12.84%, 72.29% 29.93%, 90.45% 20.61%, 75.98% 35%, 95.68% 29.66%, 78.53% 40.73%, 98.91% 39.6%, 79.84% 46.86%);



    }

    #about-shape-2 {
        bottom: -20%;
        right: 0;
        width: 100%;
        background-color: var(--shape-color-secondary);
        aspect-ratio: 1;
        clip-path: polygon(100% 50%, 79.84% 53.14%, 98.91% 60.4%, 78.53% 59.27%, 95.68% 70.34%, 75.98% 65%, 90.45% 79.39%, 72.29% 70.07%, 83.46% 87.16%, 67.63% 74.27%, 75% 93.3%, 62.2% 77.41%, 65.45% 97.55%, 56.24% 79.34%, 55.23% 99.73%, 50% 80%, 44.77% 99.73%, 43.76% 79.34%, 34.55% 97.55%, 37.8% 77.41%, 25% 93.3%, 32.37% 74.27%, 16.54% 87.16%, 27.71% 70.07%, 9.55% 79.39%, 24.02% 65%, 4.32% 70.34%, 21.47% 59.27%, 1.09% 60.4%, 20.16% 53.14%, 0% 50%, 20.16% 46.86%, 1.09% 39.6%, 21.47% 40.73%, 4.32% 29.66%, 24.02% 35%, 9.55% 20.61%, 27.71% 29.93%, 16.54% 12.84%, 32.37% 25.73%, 25% 6.7%, 37.8% 22.59%, 34.55% 2.45%, 43.76% 20.66%, 44.77% 0.27%, 50% 20%, 55.23% 0.27%, 56.24% 20.66%, 65.45% 2.45%, 62.2% 22.59%, 75% 6.7%, 67.63% 25.73%, 83.46% 12.84%, 72.29% 29.93%, 90.45% 20.61%, 75.98% 35%, 95.68% 29.66%, 78.53% 40.73%, 98.91% 39.6%, 79.84% 46.86%);




    }



    #aboutme-page {
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: "main-content main-content main-content"
            "name favourites-section favourites-section"
            "name favourites-section favourites-section"
            "name favourites-section favourites-section"
            "skills skills skills"
    }

    #connect-shape-1 {


        left: -15%;
        bottom: -15%;
        width: 130%;

        background-color: var(--shape-color);
        aspect-ratio: 1;
        clip-path: polygon(100% 50%, 79.84% 53.14%, 98.91% 60.4%, 78.53% 59.27%, 95.68% 70.34%, 75.98% 65%, 90.45% 79.39%, 72.29% 70.07%, 83.46% 87.16%, 67.63% 74.27%, 75% 93.3%, 62.2% 77.41%, 65.45% 97.55%, 56.24% 79.34%, 55.23% 99.73%, 50% 80%, 44.77% 99.73%, 43.76% 79.34%, 34.55% 97.55%, 37.8% 77.41%, 25% 93.3%, 32.37% 74.27%, 16.54% 87.16%, 27.71% 70.07%, 9.55% 79.39%, 24.02% 65%, 4.32% 70.34%, 21.47% 59.27%, 1.09% 60.4%, 20.16% 53.14%, 0% 50%, 20.16% 46.86%, 1.09% 39.6%, 21.47% 40.73%, 4.32% 29.66%, 24.02% 35%, 9.55% 20.61%, 27.71% 29.93%, 16.54% 12.84%, 32.37% 25.73%, 25% 6.7%, 37.8% 22.59%, 34.55% 2.45%, 43.76% 20.66%, 44.77% 0.27%, 50% 20%, 55.23% 0.27%, 56.24% 20.66%, 65.45% 2.45%, 62.2% 22.59%, 75% 6.7%, 67.63% 25.73%, 83.46% 12.84%, 72.29% 29.93%, 90.45% 20.61%, 75.98% 35%, 95.68% 29.66%, 78.53% 40.73%, 98.91% 39.6%, 79.84% 46.86%);
        /*  transform: translate(0, 50%); */





    }

    #connect-shape-2 {
        top: 5%;
        left: -30%;
        width: 100%;

        background-color: var(--shape-color-secondary);
        aspect-ratio: 1;
        clip-path: polygon(100% 50%, 79.84% 53.14%, 98.91% 60.4%, 78.53% 59.27%, 95.68% 70.34%, 75.98% 65%, 90.45% 79.39%, 72.29% 70.07%, 83.46% 87.16%, 67.63% 74.27%, 75% 93.3%, 62.2% 77.41%, 65.45% 97.55%, 56.24% 79.34%, 55.23% 99.73%, 50% 80%, 44.77% 99.73%, 43.76% 79.34%, 34.55% 97.55%, 37.8% 77.41%, 25% 93.3%, 32.37% 74.27%, 16.54% 87.16%, 27.71% 70.07%, 9.55% 79.39%, 24.02% 65%, 4.32% 70.34%, 21.47% 59.27%, 1.09% 60.4%, 20.16% 53.14%, 0% 50%, 20.16% 46.86%, 1.09% 39.6%, 21.47% 40.73%, 4.32% 29.66%, 24.02% 35%, 9.55% 20.61%, 27.71% 29.93%, 16.54% 12.84%, 32.37% 25.73%, 25% 6.7%, 37.8% 22.59%, 34.55% 2.45%, 43.76% 20.66%, 44.77% 0.27%, 50% 20%, 55.23% 0.27%, 56.24% 20.66%, 65.45% 2.45%, 62.2% 22.59%, 75% 6.7%, 67.63% 25.73%, 83.46% 12.84%, 72.29% 29.93%, 90.45% 20.61%, 75.98% 35%, 95.68% 29.66%, 78.53% 40.73%, 98.91% 39.6%, 79.84% 46.86%);

    }


    #blogs-page {
        grid-template-columns: 1fr;
        width: 80%;
        gap: 10rem
    }

    #intro-section {
        display: flex;
        flex-direction: column
    }

    #contact-page {
        grid-template-columns: 1fr;
        grid-template-rows: .5fr 3fr 1fr;
        grid-template-areas: "call-for-action" "contact-form" "socials"
    }

    .svg-area {
        flex-direction: row;
        height: fit-content
    }

    /*  .svg-area img {
        filter: var(--svg-filter) invert(1);
        filter: invert(55%) sepia(90%) saturate(3.5);
        cursor: pointer;
        width: 6rem;
        height: auto
    } */

    .blog-container:nth-child(even),
    .blog-container:nth-child(odd) {
        grid-template-columns: 1fr;
        grid-template-areas: "image" "blog-header" "blog-body"
    }

    .blog-container:nth-child(even) img,
    .blog-container:nth-child(odd) img {
        grid-area: image;
        width: 100%;
        height: auto;
        object-fit: cover
    }

    .project-container:nth-child(even),
    .project-container:nth-child(odd) {
        grid-template-columns: 1fr;

        grid-template-areas: "project-header" "project-body" "image"
    }

    .blog-container .button-link,
    .project-container .button-link {
        align-self: flex-start !important
    }

    .project-container-content {
        width: 90%;

    }

    #projects-page {
        margin-left: 0;
        justify-content: center;
        align-items: center;
    }

    .modal-nav {
        position: sticky;
        height: fit-content;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: var(--color-highlight-area);


    }



}

#projects {
    position: relative
}

.notification {
    text-align: center;
    white-space: nowrap;
    z-index: -10;
    position: absolute;
    top: 75%;
    right: .5%;
    opacity: 0;
    padding: 1rem 2rem;
    font-size: 2rem;
    width: fit-content;
    height: fit-content;
    background-color: var(--color-accent);
    color: var(--color-highlight-area);
    transform: translate(0, 0);
    transition: 1.5s
}

.show-notification {
    opacity: 1;
    top: 100%
}

#error-message {
    padding-inline: 1rem;
    color: var(--color-accent);
    font-size: 1.75rem;
    align-self: flex-end
}

#error-message.show {
    transition: .3s;
    animation: showTextSpan .3s ease-out
}





#designs-page {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 8rem;
    min-height: 100vh
}


#designs-page>div {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    transition: transform 0.35s ease-in-out;
}

#designs-page>div:hover {
    cursor: pointer;
    transition: transform 0.35s ease-in-out;

}

.design-img {
    width: 80%;
    height: auto;
    object-fit: cover;
    transition: 1s;
}

.design-img:hover

/* ~#designs-shape */
    {
    margin-left: 8rem;
    transition: 1s;
}

.designs-shape-change {
    /*   left: -50%;
    width: 100% !important; */
    transform: scale(0.8);
    transition: 1s;
}


#design-display-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;


}

#design-display-page h1 {
    color: var(--color-accent);
    font-size: 7rem;
    letter-spacing: 1rem;
    width: 80%;
}

#design-display-page p {
    width: 80%;
}


#design-display-page img {
    height: auto;
    width: 80%;

}