* {
    user-select: none;
    box-sizing: border-box;



}


@font-face {
    font-family: Nax;
    src: url("src/assets/fonts/SpaceGrotesk-VariableFont_wght.ttf")
}

h1,
h2,
a,
span,
label,
button {

    font-family: "Nax";
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1rem;
}

h1 {
    font-size: 3rem;
}

:root {


    /* --color-background: #1E1E1E; */
    --color-background: #292929;
    /* --color-background: #585858; */
    --color-text: #FAF8F5;
    --color-border: #FFC300;
    --color-accent: #FFC300;
    --color-accent-gradient: rgb(255, 157, 0);
    --color-highlight-area: rgb(10, 10, 10);

    --svg-filter: invert(1);
    --outer-border-size: 0rem;




}




:root.light {
    --color-background: #f5f5f5;
    --color-text: #1a1a1a;
    --color-border: #db0a5b;
    --color-accent: #db0a5b;
    --color-accent-gradient: #C01074;
    --color-highlight-area: #F9EBC7;
    --color-highlight-text: #808080;
    --svg-filter: invert(0);
    --outer-border-size: 0rem;

}



.page-margins {
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.link {

    color: var(--color-accent);
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    /*  background-color: var(--color-background); */
    /*    border: solid var(--outer-border-size) var(--color-accent); */
    background-color: transparent;
    transition: color 0.4s background-color 0.4s border-color 0.1;
}

.link:hover,
.link-active {
    /*   border-color: transparent; */
    color: var(--color-highlight-area);
    background-color: var(--color-accent);
    transition: 0.3s;
}








.theme-icon {
    cursor: pointer;
}



.theme-icon img {

    width: 3rem;


    filter: var(--svg-filter);

}


/* .table-of-contents-grid:hover {
    border-color: transparent;
    background-color: var(--color-accent);
  
} */




html {
    background-color: var(--color-background);
    /* background: linear-gradient(90deg, #000000, #2B2B2B); */


}

h1,
h2,
p {

    margin: 0;
}

@font-face {
    font-family: regular;
    src: url('src/assets/fonts/SpaceGrotesk-VariableFont_wght.ttf');
}


p {
    font-size: 1.5rem;
    line-height: 3rem;
    font-family: "regular";
    font-weight: 300;
    font-optical-sizing: auto;

    color: var(--color-text);
}

textarea {
    font-family: "regular";
    font-optical-sizing: auto;


}


a:hover {
    cursor: pointer;
}






.rotate-icon {
    transform: rotate(360deg);
}





.section-header {
    grid-area: header;

    text-align: center;


    margin: 0;

    align-self: center;

}

.section-header h2 {

    padding: 0;

}



















.page-section {


    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    gap: 2rem;

    min-height: 100vh;


    width: 100%;


}






.centered-page {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;


    min-height: 100vh;
    width: 100%;


}


#aboutme-page {

    position: relative;
    display: grid;


    width: 90%;
    gap: 2rem;
    grid-template-columns: 0.5fr 1.5fr 1.5fr;
    grid-template-rows: 2fr 1fr 1fr 1fr;
    grid-template-areas:
        /*  'navigation navigation navigation' */
        'name main-content main-content'
        'name skills favourites-1'
        'name skills favourites-2'
        'name skills favourites-3'

    ;


    height: 100vh;



}

#favourites-1,
#favourites-2,
#favourites-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

#favourites-1 {

    background-color: var(--color-highlight-area);
    grid-area: favourites-1;

}

#favourites-2 {
    background-color: var(--color-highlight-area);
    grid-area: favourites-2;


}

#favourites-3 {
    background-color: var(--color-highlight-area);
    grid-area: favourites-3;
}

#favourites-1 span:nth-child(1),
#favourites-2 span:nth-child(1),
#favourites-3 span:nth-child(1) {
    align-self: flex-start;
}

#favourites-1 span:nth-child(2),
#favourites-2 span:nth-child(2),
#favourites-3 span:nth-child(2) {
    align-self: flex-end;
    color: var(--color-accent);
    font-size: 3rem;
}




#my-name {

    display: flex;
    justify-content: center;
    font-size: 6rem;
    align-items: center;
    grid-area: name;
    height: 100%;
    width: 100%;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    color: var(--color-highlight-area);
    background-color: var(--color-accent);
    border: solid var(--outer-border-size) var(--color-border);
    box-shadow: -0.0625rem 0.0625rem 0 0 var(--color-highlight-area),
        -0.075rem 0.075rem 0 0 var(--color-highlight-area),
        -0.0875rem 0.0875rem 0 0 var(--color-highlight-area),
        -0.1rem 0.1rem 0 0 var(--color-highlight-area),
        -0.1125rem 0.1125rem 0 0 var(--color-highlight-area),
        -0.125rem 0.125rem 0 0 var(--color-highlight-area),
        -0.1375rem 0.1375rem 0 0 var(--color-highlight-area),
        -0.15rem 0.15rem 0 0 var(--color-highlight-area),
        -0.1625rem 0.1625rem 0 0 var(--color-highlight-area),
        -0.175rem 0.175rem 0 0 var(--color-highlight-area),
        -0.1875rem 0.1875rem 0 0 var(--color-highlight-area),
        -0.2rem 0.2rem 0 0 var(--color-highlight-area),
        -0.2125rem 0.2125rem 0 0 var(--color-highlight-area),
        -0.225rem 0.225rem 0 0 var(--color-highlight-area),
        -0.2375rem 0.2375rem 0 0 var(--color-highlight-area),
        -0.25rem 0.25rem 0 0 var(--color-highlight-area),
        -0.2625rem 0.2625rem 0 0 var(--color-highlight-area),
        -0.275rem 0.275rem 0 0 var(--color-highlight-area),
        -0.2875rem 0.2875rem 0 0 var(--color-highlight-area),
        -0.3rem 0.3rem 0 0 var(--color-highlight-area),
        -0.3125rem 0.3125rem 0 0 var(--color-highlight-area),
        -0.325rem 0.325rem 0 0 var(--color-highlight-area),
        -0.3375rem 0.3375rem 0 0 var(--color-highlight-area),
        -0.35rem 0.35rem 0 0 var(--color-highlight-area),
        -0.3625rem 0.3625rem 0 0 var(--color-highlight-area),
        -0.375rem 0.375rem 0 0 var(--color-highlight-area),
        -0.3875rem 0.3875rem 0 0 var(--color-highlight-area),
        -0.4rem 0.4rem 0 0 var(--color-highlight-area),
        -0.4125rem 0.4125rem 0 0 var(--color-highlight-area),
        -0.425rem 0.425rem 0 0 var(--color-highlight-area),
        -0.4375rem 0.4375rem 0 0 var(--color-highlight-area),
        -0.45rem 0.45rem 0 0 var(--color-highlight-area),
        -0.4625rem 0.4625rem 0 0 var(--color-highlight-area),
        -0.475rem 0.475rem 0 0 var(--color-highlight-area),
        -0.4875rem 0.4875rem 0 0 var(--color-highlight-area),
        -0.5rem 0.5rem 0 0 var(--color-highlight-area),
        -0.5125rem 0.5125rem 0 0 var(--color-highlight-area),
        -0.525rem 0.525rem 0 0 var(--color-highlight-area),
        -0.5375rem 0.5375rem 0 0 var(--color-highlight-area),
        -0.55rem 0.55rem 0 0 var(--color-highlight-area),
        -0.5625rem 0.5625rem 0 0 var(--color-highlight-area),
        -0.575rem 0.575rem 0 0 var(--color-highlight-area),
        -0.5875rem 0.5875rem 0 0 var(--color-highlight-area),
        -0.6rem 0.6rem 0 0 var(--color-highlight-area),
        -0.6125rem 0.6125rem 0 0 var(--color-highlight-area),
        -0.625rem 0.625rem 0 0 var(--color-highlight-area),
        -0.6375rem 0.6375rem 0 0 var(--color-highlight-area),
        -0.65rem 0.65rem 0 0 var(--color-highlight-area),
        -0.6625rem 0.6625rem 0 0 var(--color-highlight-area),
        -0.675rem 0.675rem 0 0 var(--color-highlight-area),
        -0.6875rem 0.6875rem 0 0 var(--color-highlight-area),
        -0.7rem 0.7rem 0 0 var(--color-highlight-area),
        -0.7125rem 0.7125rem 0 0 var(--color-highlight-area),
        -0.725rem 0.725rem 0 0 var(--color-highlight-area),
        -0.7375rem 0.7375rem 0 0 var(--color-highlight-area),
        -0.75rem 0.75rem 0 0 var(--color-highlight-area);

}



.nav-bar {
    position: fixed;
    top: 2rem;
    right: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    height: auto;
    z-index: 200;


}












.header-shadow-left {
    box-shadow: -0.0625rem -0.0625rem 0 0 var(--color-highlight-area),
        -0.075rem -0.075rem 0 0 var(--color-highlight-area),
        -0.0875rem -0.0875rem 0 0 var(--color-highlight-area),
        -0.1rem -0.1rem 0 0 var(--color-highlight-area),
        -0.1125rem -0.1125rem 0 0 var(--color-highlight-area),
        -0.125rem -0.125rem 0 0 var(--color-highlight-area),
        -0.1375rem -0.1375rem 0 0 var(--color-highlight-area),
        -0.15rem -0.15rem 0 0 var(--color-highlight-area),
        -0.1625rem -0.1625rem 0 0 var(--color-highlight-area),
        -0.175rem -0.175rem 0 0 var(--color-highlight-area),
        -0.1875rem -0.1875rem 0 0 var(--color-highlight-area),
        -0.2rem -0.2rem 0 0 var(--color-highlight-area),
        -0.2125rem -0.2125rem 0 0 var(--color-highlight-area),
        -0.225rem -0.225rem 0 0 var(--color-highlight-area),
        -0.2375rem -0.2375rem 0 0 var(--color-highlight-area),
        -0.25rem -0.25rem 0 0 var(--color-highlight-area),
        -0.2625rem -0.2625rem 0 0 var(--color-highlight-area),
        -0.275rem -0.275rem 0 0 var(--color-highlight-area),
        -0.2875rem -0.2875rem 0 0 var(--color-highlight-area),
        -0.3rem -0.3rem 0 0 var(--color-highlight-area),
        -0.3125rem -0.3125rem 0 0 var(--color-highlight-area),
        -0.325rem -0.325rem 0 0 var(--color-highlight-area),
        -0.3375rem -0.3375rem 0 0 var(--color-highlight-area),
        -0.35rem -0.35rem 0 0 var(--color-highlight-area),
        -0.3625rem -0.3625rem 0 0 var(--color-highlight-area),
        -0.375rem -0.375rem 0 0 var(--color-highlight-area),
        -0.3875rem -0.3875rem 0 0 var(--color-highlight-area),
        -0.4rem -0.4rem 0 0 var(--color-highlight-area),
        -0.4125rem -0.4125rem 0 0 var(--color-highlight-area),
        -0.425rem -0.425rem 0 0 var(--color-highlight-area),
        -0.4375rem -0.4375rem 0 0 var(--color-highlight-area),
        -0.45rem -0.45rem 0 0 var(--color-highlight-area),
        -0.4625rem -0.4625rem 0 0 var(--color-highlight-area),
        -0.475rem -0.475rem 0 0 var(--color-highlight-area),
        -0.4875rem -0.4875rem 0 0 var(--color-highlight-area),
        -0.5rem -0.5rem 0 0 var(--color-highlight-area),
        -0.5125rem -0.5125rem 0 0 var(--color-highlight-area),
        -0.525rem -0.525rem 0 0 var(--color-highlight-area),
        -0.5375rem -0.5375rem 0 0 var(--color-highlight-area),
        -0.55rem -0.55rem 0 0 var(--color-highlight-area),
        -0.5625rem -0.5625rem 0 0 var(--color-highlight-area),
        -0.575rem -0.575rem 0 0 var(--color-highlight-area),
        -0.5875rem -0.5875rem 0 0 var(--color-highlight-area),
        -0.6rem -0.6rem 0 0 var(--color-highlight-area),
        -0.6125rem -0.6125rem 0 0 var(--color-highlight-area),
        -0.625rem -0.625rem 0 0 var(--color-highlight-area),
        -0.6375rem -0.6375rem 0 0 var(--color-highlight-area),
        -0.65rem -0.65rem 0 0 var(--color-highlight-area),
        -0.6625rem -0.6625rem 0 0 var(--color-highlight-area),
        -0.675rem -0.675rem 0 0 var(--color-highlight-area),
        -0.6875rem -0.6875rem 0 0 var(--color-highlight-area),
        -0.7rem -0.7rem 0 0 var(--color-highlight-area),
        -0.7125rem -0.7125rem 0 0 var(--color-highlight-area),
        -0.725rem -0.725rem 0 0 var(--color-highlight-area),
        -0.7375rem -0.7375rem 0 0 var(--color-highlight-area),
        -0.75rem -0.75rem 0 0 var(--color-highlight-area);
}




.header-shadow-right {
    box-shadow: 0.0625rem -0.0625rem 0 0 var(--color-highlight-area),
        0.075rem -0.075rem 0 0 var(--color-highlight-area),
        0.0875rem -0.0875rem 0 0 var(--color-highlight-area),
        0.1rem -0.1rem 0 0 var(--color-highlight-area),
        0.1125rem -0.1125rem 0 0 var(--color-highlight-area),
        0.125rem -0.125rem 0 0 var(--color-highlight-area),
        0.1375rem -0.1375rem 0 0 var(--color-highlight-area),
        0.15rem -0.15rem 0 0 var(--color-highlight-area),
        0.1625rem -0.1625rem 0 0 var(--color-highlight-area),
        0.175rem -0.175rem 0 0 var(--color-highlight-area),
        0.1875rem -0.1875rem 0 0 var(--color-highlight-area),
        0.2rem -0.2rem 0 0 var(--color-highlight-area),
        0.2125rem -0.2125rem 0 0 var(--color-highlight-area),
        0.225rem -0.225rem 0 0 var(--color-highlight-area),
        0.2375rem -0.2375rem 0 0 var(--color-highlight-area),
        0.25rem -0.25rem 0 0 var(--color-highlight-area),
        0.2625rem -0.2625rem 0 0 var(--color-highlight-area),
        0.275rem -0.275rem 0 0 var(--color-highlight-area),
        0.2875rem -0.2875rem 0 0 var(--color-highlight-area),
        0.3rem -0.3rem 0 0 var(--color-highlight-area),
        0.3125rem -0.3125rem 0 0 var(--color-highlight-area),
        0.325rem -0.325rem 0 0 var(--color-highlight-area),
        0.3375rem -0.3375rem 0 0 var(--color-highlight-area),
        0.35rem -0.35rem 0 0 var(--color-highlight-area),
        0.3625rem -0.3625rem 0 0 var(--color-highlight-area),
        0.375rem -0.375rem 0 0 var(--color-highlight-area),
        0.3875rem -0.3875rem 0 0 var(--color-highlight-area),
        0.4rem -0.4rem 0 0 var(--color-highlight-area),
        0.4125rem -0.4125rem 0 0 var(--color-highlight-area),
        0.425rem -0.425rem 0 0 var(--color-highlight-area),
        0.4375rem -0.4375rem 0 0 var(--color-highlight-area),
        0.45rem -0.45rem 0 0 var(--color-highlight-area),
        0.4625rem -0.4625rem 0 0 var(--color-highlight-area),
        0.475rem -0.475rem 0 0 var(--color-highlight-area),
        0.4875rem -0.4875rem 0 0 var(--color-highlight-area),
        0.5rem -0.5rem 0 0 var(--color-highlight-area),
        0.5125rem -0.5125rem 0 0 var(--color-highlight-area),
        0.525rem -0.525rem 0 0 var(--color-highlight-area),
        0.5375rem -0.5375rem 0 0 var(--color-highlight-area),
        0.55rem -0.55rem 0 0 var(--color-highlight-area),
        0.5625rem -0.5625rem 0 0 var(--color-highlight-area),
        0.575rem -0.575rem 0 0 var(--color-highlight-area),
        0.5875rem -0.5875rem 0 0 var(--color-highlight-area),
        0.6rem -0.6rem 0 0 var(--color-highlight-area),
        0.6125rem -0.6125rem 0 0 var(--color-highlight-area),
        0.625rem -0.625rem 0 0 var(--color-highlight-area),
        0.6375rem -0.6375rem 0 0 var(--color-highlight-area),
        0.65rem -0.65rem 0 0 var(--color-highlight-area),
        0.6625rem -0.6625rem 0 0 var(--color-highlight-area),
        0.675rem -0.675rem 0 0 var(--color-highlight-area),
        0.6875rem -0.6875rem 0 0 var(--color-highlight-area),
        0.7rem -0.7rem 0 0 var(--color-highlight-area),
        0.7125rem -0.7125rem 0 0 var(--color-highlight-area),
        0.725rem -0.725rem 0 0 var(--color-highlight-area),
        0.7375rem -0.7375rem 0 0 var(--color-highlight-area),
        0.75rem -0.75rem 0 0 var(--color-highlight-area);
}


.container-shadow-left {
    box-shadow: -0.0625rem -0.0625rem 0 0 var(--color-accent),
        -0.075rem -0.075rem 0 0 var(--color-accent),
        -0.0875rem -0.0875rem 0 0 var(--color-accent),
        -0.1rem -0.1rem 0 0 var(--color-accent),
        -0.1125rem -0.1125rem 0 0 var(--color-accent),
        -0.125rem -0.125rem 0 0 var(--color-accent),
        -0.1375rem -0.1375rem 0 0 var(--color-accent),
        -0.15rem -0.15rem 0 0 var(--color-accent),
        -0.1625rem -0.1625rem 0 0 var(--color-accent),
        -0.175rem -0.175rem 0 0 var(--color-accent),
        -0.1875rem -0.1875rem 0 0 var(--color-accent),
        -0.2rem -0.2rem 0 0 var(--color-accent),
        -0.2125rem -0.2125rem 0 0 var(--color-accent),
        -0.225rem -0.225rem 0 0 var(--color-accent),
        -0.2375rem -0.2375rem 0 0 var(--color-accent),
        -0.25rem -0.25rem 0 0 var(--color-accent),
        -0.2625rem -0.2625rem 0 0 var(--color-accent),
        -0.275rem -0.275rem 0 0 var(--color-accent),
        -0.2875rem -0.2875rem 0 0 var(--color-accent),
        -0.3rem -0.3rem 0 0 var(--color-accent),
        -0.3125rem -0.3125rem 0 0 var(--color-accent),
        -0.325rem -0.325rem 0 0 var(--color-accent),
        -0.3375rem -0.3375rem 0 0 var(--color-accent),
        -0.35rem -0.35rem 0 0 var(--color-accent),
        -0.3625rem -0.3625rem 0 0 var(--color-accent),
        -0.375rem -0.375rem 0 0 var(--color-accent),
        -0.3875rem -0.3875rem 0 0 var(--color-accent),
        -0.4rem -0.4rem 0 0 var(--color-accent),
        -0.4125rem -0.4125rem 0 0 var(--color-accent),
        -0.425rem -0.425rem 0 0 var(--color-accent),
        -0.4375rem -0.4375rem 0 0 var(--color-accent),
        -0.45rem -0.45rem 0 0 var(--color-accent),
        -0.4625rem -0.4625rem 0 0 var(--color-accent),
        -0.475rem -0.475rem 0 0 var(--color-accent),
        -0.4875rem -0.4875rem 0 0 var(--color-accent),
        -0.5rem -0.5rem 0 0 var(--color-accent),
        -0.5125rem -0.5125rem 0 0 var(--color-accent),
        -0.525rem -0.525rem 0 0 var(--color-accent),
        -0.5375rem -0.5375rem 0 0 var(--color-accent),
        -0.55rem -0.55rem 0 0 var(--color-accent),
        -0.5625rem -0.5625rem 0 0 var(--color-accent),
        -0.575rem -0.575rem 0 0 var(--color-accent),
        -0.5875rem -0.5875rem 0 0 var(--color-accent),
        -0.6rem -0.6rem 0 0 var(--color-accent),
        -0.6125rem -0.6125rem 0 0 var(--color-accent),
        -0.625rem -0.625rem 0 0 var(--color-accent),
        -0.6375rem -0.6375rem 0 0 var(--color-accent),
        -0.65rem -0.65rem 0 0 var(--color-accent),
        -0.6625rem -0.6625rem 0 0 var(--color-accent),
        -0.675rem -0.675rem 0 0 var(--color-accent),
        -0.6875rem -0.6875rem 0 0 var(--color-accent),
        -0.7rem -0.7rem 0 0 var(--color-accent),
        -0.7125rem -0.7125rem 0 0 var(--color-accent),
        -0.725rem -0.725rem 0 0 var(--color-accent),
        -0.7375rem -0.7375rem 0 0 var(--color-accent),
        -0.75rem -0.75rem 0 0 var(--color-accent);
}


.container-shadow-right {
    transition: 0.3s;
    box-shadow:
        0.0625rem -0.0625rem 0 0 var(--color-accent),
        0.075rem -0.075rem 0 0 var(--color-accent),
        0.0875rem -0.0875rem 0 0 var(--color-accent),
        0.1rem -0.1rem 0 0 var(--color-accent),
        0.1125rem -0.1125rem 0 0 var(--color-accent),
        0.125rem -0.125rem 0 0 var(--color-accent),
        0.1375rem -0.1375rem 0 0 var(--color-accent),
        0.15rem -0.15rem 0 0 var(--color-accent),
        0.1625rem -0.1625rem 0 0 var(--color-accent),
        0.175rem -0.175rem 0 0 var(--color-accent),
        0.1875rem -0.1875rem 0 0 var(--color-accent),
        0.2rem -0.2rem 0 0 var(--color-accent),
        0.2125rem -0.2125rem 0 0 var(--color-accent),
        0.225rem -0.225rem 0 0 var(--color-accent),
        0.2375rem -0.2375rem 0 0 var(--color-accent),
        0.25rem -0.25rem 0 0 var(--color-accent),
        0.2625rem -0.2625rem 0 0 var(--color-accent),
        0.275rem -0.275rem 0 0 var(--color-accent),
        0.2875rem -0.2875rem 0 0 var(--color-accent),
        0.3rem -0.3rem 0 0 var(--color-accent),
        0.3125rem -0.3125rem 0 0 var(--color-accent),
        0.325rem -0.325rem 0 0 var(--color-accent),
        0.3375rem -0.3375rem 0 0 var(--color-accent),
        0.35rem -0.35rem 0 0 var(--color-accent),
        0.3625rem -0.3625rem 0 0 var(--color-accent),
        0.375rem -0.375rem 0 0 var(--color-accent),
        0.3875rem -0.3875rem 0 0 var(--color-accent),
        0.4rem -0.4rem 0 0 var(--color-accent),
        0.4125rem -0.4125rem 0 0 var(--color-accent),
        0.425rem -0.425rem 0 0 var(--color-accent),
        0.4375rem -0.4375rem 0 0 var(--color-accent),
        0.45rem -0.45rem 0 0 var(--color-accent),
        0.4625rem -0.4625rem 0 0 var(--color-accent),
        0.475rem -0.475rem 0 0 var(--color-accent),
        0.4875rem -0.4875rem 0 0 var(--color-accent),
        0.5rem -0.5rem 0 0 var(--color-accent),
        0.5125rem -0.5125rem 0 0 var(--color-accent),
        0.525rem -0.525rem 0 0 var(--color-accent),
        0.5375rem -0.5375rem 0 0 var(--color-accent),
        0.55rem -0.55rem 0 0 var(--color-accent),
        0.5625rem -0.5625rem 0 0 var(--color-accent),
        0.575rem -0.575rem 0 0 var(--color-accent),
        0.5875rem -0.5875rem 0 0 var(--color-accent),
        0.6rem -0.6rem 0 0 var(--color-accent),
        0.6125rem -0.6125rem 0 0 var(--color-accent),
        0.625rem -0.625rem 0 0 var(--color-accent),
        0.6375rem -0.6375rem 0 0 var(--color-accent),
        0.65rem -0.65rem 0 0 var(--color-accent),
        0.6625rem -0.6625rem 0 0 var(--color-accent),
        0.675rem -0.675rem 0 0 var(--color-accent),
        0.6875rem -0.6875rem 0 0 var(--color-accent),
        0.7rem -0.7rem 0 0 var(--color-accent),
        0.7125rem -0.7125rem 0 0 var(--color-accent),
        0.725rem -0.725rem 0 0 var(--color-accent),
        0.7375rem -0.7375rem 0 0 var(--color-accent),
        0.75rem -0.75rem 0 0 var(--color-accent);
}




#intro-section {
    border: solid var(--outer-border-size) var(--color-border);
    grid-area: main-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--color-highlight-area);
    transition: 0.4s;


    /*  background: radial-gradient(circle at center, var(--color-highlight-area-gradient), var(--color-highlight-area)); */

}



#favourites-section {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    justify-content: space-evenly;
    flex-direction: column;


    width: 100%;
    height: 100%;
    grid-area: favourites-section;

}

/* .pattern-background {
    background-color: var(--color-background);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%239C92AC' fill-opacity='1'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
 */
.container-style {
    display: flex;
    justify-content: center;
    align-items: center;
    /*   background-color: var(--color-highlight-area); */
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: #010101;


}




#skills-body {
    position: relative;
    grid-area: skills;
    height: 100%;
    background-color: var(--color-highlight-area);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    overflow: hidden;
    z-index: 0;


}


.skill-item {
    display: flex;
    flex-direction: column;

    justify-content: center;

    filter: var(--svg-filter);
}






.svg-area {

    grid-area: socials;
    position: relative;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 1rem;
    /*    border: solid var(--outer-border-size) var(--color-text);
    background-color: var(--color-highlight-area); */
}









.svg-area a {

    display: flex;
    border: solid var(--outer-border-size) var(--color-accent);
    background-color: var(--color-background);
    padding: 1rem;
    justify-content: center;
    align-items: center;
    transition: 0.4s;

}

.svg-area a:hover img {
    filter: var(--svg-filter) invert(1) drop-shadow(1px 1px 0px var(--color-accent)) drop-shadow(1.2px 1.2px 0px var(--color-accent)) drop-shadow(1.4px 1.4px 0px var(--color-accent)) drop-shadow(1.6px 1.6px 0px var(--color-accent)) drop-shadow(1.8px 1.8px 0px var(--color-accent)) drop-shadow(2px 2px 0px var(--color-accent)) drop-shadow(2.2px 2.2px 0px var(--color-accent));

}


/* .svg-area a:hover {
    background-color: var(--color-accent);
} */

/* .svg-area a:hover {
    border: solid;
}
 */

.svg-area img {
    filter: var(--svg-filter);
    transition: 0.3s;

    width: 7rem;
    height: auto;




}

/* .svg-icon.medium {
    width: 6rem;
    height: 6rem;
    background-color: var(--color-accent);
    mask-image: url("./assets/medium.svg");
    transition: 0.4s;

}

.svg-icon.github {
    width: 6rem;
    height: 6rem;
    background-color: var(--color-accent);
    mask-image: url("./assets/github.svg");

}

.svg-icon.linkedin {
    width: 6rem;
    height: 6rem;
    background-color: var(--color-accent);
    mask-image: url("./assets/linkedin.svg");

} */


.svg-icon {
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}



#contact-page {
    display: grid;

    width: 80%;

    height: 100vh;
    gap: 2rem;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "call-for-action socials"
        "contact-form socials"
        "contact-form socials";
}

#contact-page h1 {
    position: relative;
    display: flex;
    align-items: center;
    text-align: left;

    width: 100%;
    height: 100%;

    border: solid var(--outer-border-size) var(--color-accent);

    background-color: var(--color-accent);
    grid-area: call-for-action;



    padding: 1rem;




}

#contact-page h1 span {
    display: block;
    color: var(--color-background);
    z-index: 99;
}


#contact-form {
    grid-area: contact-form;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    gap: 1rem;
    padding: 2rem;
    border: solid var(--outer-border-size) var(--color-border);
    background-color: var(--color-highlight-area);
}

#contact-form label {

    font-size: 1.5rem;
    color: var(--color-text);
    width: 100%;
    text-align: left;


    font-weight: 700;
}

#contact-form textarea {
    resize: none;
    font-size: 1rem;
    width: 100%;
    background-color: var(--color-accent);
    color: var(--color-background);

    border: solid calc(var(--outer-border-size)/2) var(--color-border);

    padding: 1rem;
}

#contact-form>button {
    cursor: pointer;
    align-self: flex-start;
}

::placeholder {
    font-family: "regular";

    color: var(--color-background);

    /* Firefox */
}

::-ms-input-placeholder {
    /* Edge 12 -18 */
    font-family: "regular";
    color: var(--color-background);
}









/* #projects-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    gap: 0;
}
 */
.project-container {
    display: grid;



    gap: 2rem;
    width: 90%;
    height: 100%;
    justify-content: center;


}

.project-container:nth-child(even) {
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "project-header image"
        "project-body image";

}

.project-container:nth-child(odd) {
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "image project-header"
        "image project-body";

}


.project-container img {
    grid-area: image;
    border: solid var(--outer-border-size) var(--color-accent);

    width: 100%;
    height: auto;
}

.project-container-content {
    grid-area: project-body;
    background-color: var(--color-highlight-area);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: solid var(--outer-border-size) var(--color-border);


}

.project-container h1 {
    grid-area: project-header;
    display: flex;
    padding: 1rem;
    font-size: 4rem;

    color: var(--color-background);
    border: solid var(--outer-border-size) var(--color-accent);
    background-color: var(--color-accent);

    justify-content: flex-start;

    align-items: center;

    text-align: left;
    width: 100%;






}

.project-container-content p {
    width: 100%;


    padding: 2rem;
}

.projects-links {
    width: 100%;


    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem;
    gap: 2rem;
}



#blogs-page,
#projects-page {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    gap: 8rem;
    min-height: 100vh;

}

.blog-container {

    display: grid;
    width: 90%;


    gap: 2rem;
    /*   border: solid var(--outer-border-size) var(--color-text); */

}




.blog-container:nth-child(even) {

    grid-template-columns: 1fr 2fr;
    grid-template-areas: "image blog-header"
        "image blog-body"

    ;


}

.blog-container:nth-child(even) img {}



.blog-container:nth-child(odd) {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "blog-header image"
        "blog-body image";
}

.blog-container:nth-child(odd) img {
    border-left: solid var(--outer-border-size) var(--color-accent);

}







.blog-container img {

    grid-area: image;
    width: 100%;
    /* Allow width to adapt */
    height: 100%;
    /* Ensure it takes the full height */
    object-fit: cover;
    border: solid var(--outer-border-size) var(--color-accent);

    /* Maintain aspect ratio and fill the container */



}

.blog-container-content {
    height: 100%;
    width: 100%;
    grid-area: blog-body;
    display: flex;
    flex-direction: column;
    background-color: var(--color-highlight-area);
    align-items: center;
    justify-content: center;
    border: solid var(--outer-border-size) var(--color-border);

    /*  background: radial-gradient(circle at center, var(--color-highlight-area-gradient), var(--color-highlight-area)); */



}



.blog-container

/* -content */
h1 {
    grid-area: blog-header;
    position: relative;
    font-size: 3rem;
    padding: 1rem;
    color: var(--color-background);
    border: solid var(--outer-border-size) var(--color-accent);
    background-color: var(--color-accent);

    width: 100%;
    text-align: left;
}

.blog-container-content p {
    padding: 2rem;
    width: 100%;

    /*  background: radial-gradient(circle at center, var(--color-highlight-area-gradient), var(--color-highlight-area)); */
}

.link-container {

    padding: 2rem;
    width: 100%;

    /*  background: radial-gradient(circle at center, var(--color-highlight-area-gradient), var(--color-highlight-area)); */

}







.categories {

    position: relative;
    background-color: var(--color-highlight-area);
    /*  background: radial-gradient(circle at center, var(--color-highlight-area-gradient), var(--color-highlight-area)); */

    display: flex;

    white-space: nowrap;

    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    padding: 2rem;
    width: 100%;

    z-index: 1;
    overflow: hidden;
}







.category-area {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    user-select: none;


    height: 100%;

    font-size: 1.5rem;
    color: var(--color-accent);
    /*   background-color: var(--color-accent);
    border: solid calc(var(--outer-border-size)/2) var(--color-background); */
    font-weight: 700;
    z-index: 3;
}







@media (max-width: 2024px) {
    html {
        font-size: 16px;
    }


    #home .section-content .image-wrapper img {
        height: 25rem;
        width: 26rem;


    }





    .skill-item img {
        margin-inline: 2rem;
        width: 4rem;
        height: auto;
    }





}

@media (max-width: 768px) {
    html {
        font-size: 8px;
    }

    #table-content-grid {
        grid-template-areas: "about-me about-me"
            "project project"
            "blog blog"
            "connect connect";


    }

    #aboutme-page {
        grid-template-rows: 2fr 1fr 1fr 2fr;
        grid-template-areas:
            /*  'navigation navigation navigation' */
            'name main-content main-content'
            'name favourites-1 favourites-2'
            'name favourites-3 favourites-3'
            'skills skills skills'

        ;
    }








    /* .skill-item img {

        margin-inline: 1.5rem;
        width: 2.5rem;
        height: auto;
    }
 */






    #contact-page {
        grid-template-columns: 1fr;

        grid-template-rows: 0.5fr 3fr 1fr;
        grid-template-areas: "call-for-action"
            "contact-form"
            "socials";
    }

    .svg-area {
        flex-direction: row;
    }



    .blog-container:nth-child(even),
    .blog-container:nth-child(odd) {

        grid-template-columns: 1fr;
        grid-template-areas: "image"
            "blog-header"
            "blog-body";
    }






    .blog-container:nth-child(odd) img,
    .blog-container:nth-child(even) img {

        width: 100%;
        /* Ensure the image spans the full width */
        box-sizing: border-box;
        /* Include padding/border in width */
    }






    .project-container:nth-child(even),
    .project-container:nth-child(odd) {
        grid-template-columns: 1fr;
        grid-template-areas: "project-header"
            "project-body"
            "image";


    }

    .container-shadow-right,
    .container-shadow-left {
        box-shadow:
            0.0625rem -0.0625rem 0 0 var(--color-accent),
            0.075rem -0.075rem 0 0 var(--color-accent),
            0.0875rem -0.0875rem 0 0 var(--color-accent),
            0.1rem -0.1rem 0 0 var(--color-accent),
            0.1125rem -0.1125rem 0 0 var(--color-accent),
            0.125rem -0.125rem 0 0 var(--color-accent),
            0.1375rem -0.1375rem 0 0 var(--color-accent),
            0.15rem -0.15rem 0 0 var(--color-accent),
            0.1625rem -0.1625rem 0 0 var(--color-accent),
            0.175rem -0.175rem 0 0 var(--color-accent),
            0.1875rem -0.1875rem 0 0 var(--color-accent),
            0.2rem -0.2rem 0 0 var(--color-accent),
            0.2125rem -0.2125rem 0 0 var(--color-accent),
            0.225rem -0.225rem 0 0 var(--color-accent),
            0.2375rem -0.2375rem 0 0 var(--color-accent),
            0.25rem -0.25rem 0 0 var(--color-accent),
            0.2625rem -0.2625rem 0 0 var(--color-accent),
            0.275rem -0.275rem 0 0 var(--color-accent),
            0.2875rem -0.2875rem 0 0 var(--color-accent),
            0.3rem -0.3rem 0 0 var(--color-accent),
            0.3125rem -0.3125rem 0 0 var(--color-accent),
            0.325rem -0.325rem 0 0 var(--color-accent),
            0.3375rem -0.3375rem 0 0 var(--color-accent),
            0.35rem -0.35rem 0 0 var(--color-accent),
            0.3625rem -0.3625rem 0 0 var(--color-accent),
            0.375rem -0.375rem 0 0 var(--color-accent),
            0.3875rem -0.3875rem 0 0 var(--color-accent),
            0.4rem -0.4rem 0 0 var(--color-accent),
            0.4125rem -0.4125rem 0 0 var(--color-accent),
            0.425rem -0.425rem 0 0 var(--color-accent),
            0.4375rem -0.4375rem 0 0 var(--color-accent),
            0.45rem -0.45rem 0 0 var(--color-accent),
            0.4625rem -0.4625rem 0 0 var(--color-accent),
            0.475rem -0.475rem 0 0 var(--color-accent),
            0.4875rem -0.4875rem 0 0 var(--color-accent),
            0.5rem -0.5rem 0 0 var(--color-accent),
            0.5125rem -0.5125rem 0 0 var(--color-accent),
            0.525rem -0.525rem 0 0 var(--color-accent),
            0.5375rem -0.5375rem 0 0 var(--color-accent),
            0.55rem -0.55rem 0 0 var(--color-accent),
            0.5625rem -0.5625rem 0 0 var(--color-accent),
            0.575rem -0.575rem 0 0 var(--color-accent),
            0.5875rem -0.5875rem 0 0 var(--color-accent),
            0.6rem -0.6rem 0 0 var(--color-accent),
            0.6125rem -0.6125rem 0 0 var(--color-accent),
            0.625rem -0.625rem 0 0 var(--color-accent),
            0.6375rem -0.6375rem 0 0 var(--color-accent),
            0.65rem -0.65rem 0 0 var(--color-accent),
            0.6625rem -0.6625rem 0 0 var(--color-accent),
            0.675rem -0.675rem 0 0 var(--color-accent),
            0.6875rem -0.6875rem 0 0 var(--color-accent),
            0.7rem -0.7rem 0 0 var(--color-accent),
            0.7125rem -0.7125rem 0 0 var(--color-accent),
            0.725rem -0.725rem 0 0 var(--color-accent),
            0.7375rem -0.7375rem 0 0 var(--color-accent),
            0.75rem -0.75rem 0 0 var(--color-accent);

    }

    .header-shadow-left,
    .header-shadow-right {
        box-shadow: 0.0625rem -0.0625rem 0 0 var(--color-highlight-area),
            0.075rem -0.075rem 0 0 var(--color-highlight-area),
            0.0875rem -0.0875rem 0 0 var(--color-highlight-area),
            0.1rem -0.1rem 0 0 var(--color-highlight-area),
            0.1125rem -0.1125rem 0 0 var(--color-highlight-area),
            0.125rem -0.125rem 0 0 var(--color-highlight-area),
            0.1375rem -0.1375rem 0 0 var(--color-highlight-area),
            0.15rem -0.15rem 0 0 var(--color-highlight-area),
            0.1625rem -0.1625rem 0 0 var(--color-highlight-area),
            0.175rem -0.175rem 0 0 var(--color-highlight-area),
            0.1875rem -0.1875rem 0 0 var(--color-highlight-area),
            0.2rem -0.2rem 0 0 var(--color-highlight-area),
            0.2125rem -0.2125rem 0 0 var(--color-highlight-area),
            0.225rem -0.225rem 0 0 var(--color-highlight-area),
            0.2375rem -0.2375rem 0 0 var(--color-highlight-area),
            0.25rem -0.25rem 0 0 var(--color-highlight-area),
            0.2625rem -0.2625rem 0 0 var(--color-highlight-area),
            0.275rem -0.275rem 0 0 var(--color-highlight-area),
            0.2875rem -0.2875rem 0 0 var(--color-highlight-area),
            0.3rem -0.3rem 0 0 var(--color-highlight-area),
            0.3125rem -0.3125rem 0 0 var(--color-highlight-area),
            0.325rem -0.325rem 0 0 var(--color-highlight-area),
            0.3375rem -0.3375rem 0 0 var(--color-highlight-area),
            0.35rem -0.35rem 0 0 var(--color-highlight-area),
            0.3625rem -0.3625rem 0 0 var(--color-highlight-area),
            0.375rem -0.375rem 0 0 var(--color-highlight-area),
            0.3875rem -0.3875rem 0 0 var(--color-highlight-area),
            0.4rem -0.4rem 0 0 var(--color-highlight-area),
            0.4125rem -0.4125rem 0 0 var(--color-highlight-area),
            0.425rem -0.425rem 0 0 var(--color-highlight-area),
            0.4375rem -0.4375rem 0 0 var(--color-highlight-area),
            0.45rem -0.45rem 0 0 var(--color-highlight-area),
            0.4625rem -0.4625rem 0 0 var(--color-highlight-area),
            0.475rem -0.475rem 0 0 var(--color-highlight-area),
            0.4875rem -0.4875rem 0 0 var(--color-highlight-area),
            0.5rem -0.5rem 0 0 var(--color-highlight-area),
            0.5125rem -0.5125rem 0 0 var(--color-highlight-area),
            0.525rem -0.525rem 0 0 var(--color-highlight-area),
            0.5375rem -0.5375rem 0 0 var(--color-highlight-area),
            0.55rem -0.55rem 0 0 var(--color-highlight-area),
            0.5625rem -0.5625rem 0 0 var(--color-highlight-area),
            0.575rem -0.575rem 0 0 var(--color-highlight-area),
            0.5875rem -0.5875rem 0 0 var(--color-highlight-area),
            0.6rem -0.6rem 0 0 var(--color-highlight-area),
            0.6125rem -0.6125rem 0 0 var(--color-highlight-area),
            0.625rem -0.625rem 0 0 var(--color-highlight-area),
            0.6375rem -0.6375rem 0 0 var(--color-highlight-area),
            0.65rem -0.65rem 0 0 var(--color-highlight-area),
            0.6625rem -0.6625rem 0 0 var(--color-highlight-area),
            0.675rem -0.675rem 0 0 var(--color-highlight-area),
            0.6875rem -0.6875rem 0 0 var(--color-highlight-area),
            0.7rem -0.7rem 0 0 var(--color-highlight-area),
            0.7125rem -0.7125rem 0 0 var(--color-highlight-area),
            0.725rem -0.725rem 0 0 var(--color-highlight-area),
            0.7375rem -0.7375rem 0 0 var(--color-highlight-area),
            0.75rem -0.75rem 0 0 var(--color-highlight-area);


    }



}


.custom-shadow-button::before {
    transition: 0.3s ease-in-out;
    content: "";
    position: absolute;
    top: -0.8rem;

    left: -0.8rem;

    bottom: 0;
    width: 150%;
    height: 300%;
    background: var(--color-accent);
    clip-path: polygon(0% 0%, 50% 0.35rem, 0.35rem 0.35rem, 0.35rem 50%);
    z-index: -1;

}

.custom-shadow-button::after {
    transition: 0.3s ease-in-out;
    content: "";
    position: absolute;
    bottom: -0.8rem;

    right: -0.8rem;

    width: 150%;
    height: 300%;
    background: var(--color-accent);
    clip-path: polygon(100% 100%, 50% calc(100% - 0.35rem), calc(100% - 0.35rem) calc(100% - 0.35rem), calc(100% - 0.35rem) 50%);
    z-index: -1;
}







#projects {
    position: relative;
}